@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	.omnisidebar-docker {
		list-style-image: url("chrome://omnisidebar/skin/undock-button.png"); 
		-moz-image-region: rect(0px 16px 16px 0px);
		-moz-appearance: none !important;
		border-radius: 3px !important;
		border: 1px solid rgba(0,0,0,0) !important;
		padding: 1px !important;
	}
	.omnisidebar-docker[sidebarDocked] {
		-moz-image-region: rect(0px 32px 16px 16px);
	}
	.omnisidebar-docker image {
		width: 16px;
		height: 16px;
	}
	.omnisidebar-docker:hover {
		border: 1px solid rgba(0,0,0,.2) !important;
		background-color: rgba(0,0,0,.1) !important;
		box-shadow: 0px 0px 3px rgba(0,0,0,.2) inset, 0px 0px 2px rgba(255,255,255,0.4) !important;
	}
	
	/* Hide a bunch of stuff */
	.sidebar-box[nodock] .omnisidebar-docker,
	window:not([omnisidebar_Australis]) .sidebar-box[customizing] .omnisidebar-docker {
		display: none;
	}
	
	/* Sidebar size, position and animation */
	.sidebar-box[renderabove] {
		-moz-appearance: none !important;
		position: fixed;
		overflow: visible !important;
		/* Compatibility with Memory Fox: !important tag in the overflow property, already talked to the developer and he will fix it in his extension himself in future versions
		so this is just for compatibility with past versions, maybe I will remove it in the future since those versions don't even seem to be available anyway
		for now I'll leave it because the latest version still has the issue;
		tried to conditionally set it via javascript but I couldn't get it to detect memory fox and still apply the change */
		background: none;
	}
	
	.omnisidebar_resize_box {
		position: relative;
		overflow: hidden;
		z-index: 5;
	}
	
	.sidebar-box[renderabove]:not([autohide]) .omnisidebar_resize_box,
	window:not([omnisidebar_Australis]) .sidebar-box[renderabove][customizing] .omnisidebar_resize_box {
		opacity: 1;
	}
	
	#main-window[sizemode='normal'] .sidebar-box[renderabove] { 
		border: 1px solid rgba(0,0,0,0); 
		border-top: none;
	}
	
	/* Renderabove resizer */
	.omnisidebar_resizer {
		-moz-appearance: none !important;
		background: none !important;
		height: auto;
		width: 4px !important;
		min-width: 4px !important;
	}
	#sidebar-box:not([movetoright]) .omnisidebar_resizer,
	#omnisidebar-sidebar-box-twin[movetoleft] .omnisidebar_resizer {
		-moz-border-start: 1px solid rgb(169, 183, 201);
		-moz-border-end: none;
	}
	#sidebar-box[movetoright] .omnisidebar_resizer,
	#omnisidebar-sidebar-box-twin:not([movetoleft]) .omnisidebar_resizer {
		-moz-border-start: none;
		-moz-border-end: 1px solid rgb(169, 183, 201);
	}
	/* remove :not([customizing]) for Australis */
	.sidebar-box:not([customizing]) .omnisidebar_resizer:hover,
	.sidebar-splitter[disabled]:hover {
		cursor: ew-resize !important;
	}
	
	/* Tricks needed */
	.omnisidebar_resize_box,
	.omnisidebar_resize_sidebar {
		width: 100% !important;
		max-width: none !important;
		min-width: 0 !important;
		height: 100% !important;
	}
	
	/* It would hide the resizer if it was very narrow */
	.omnisidebar_resize_sidebar {
		overflow-x: hidden;
	}
	
	/* Give it a more slick appearance, like it's really above the page */
	#main-window[sizemode='maximized'] .sidebar-box[renderabove]:not([squareLook]) .omnisidebar_resize_box {
		top: 1% !important;
		height: 98% !important;
	}
	#main-window[sizemode='normal'] .sidebar-box[renderabove]:not([squareLook]) .omnisidebar_resize_box {
		top: 2% !important;
		height: 96% !important;
	}
	#main-window[sizemode='fullscreen'] .sidebar-box[renderabove]:not([squareLook]) .omnisidebar_resize_box {
		top: 5% !important;
		height: 90% !important;
	}
	/* Tile Tabs changes the tabpanels element to display:-moz-stack, which renders any z-index inside it useless,
	because of this, the status display will be shown behind the sidebar, so I have no choice but to raise it in this case */
	#main-window[sizemode='maximized'][tiletabs-ffversion] .sidebar-box[renderabove]:not([squareLook]) .omnisidebar_resize_box {
		height: 95.5% !important;
	}
	#main-window[sizemode='normal'][tiletabs-ffversion] .sidebar-box[renderabove]:not([squareLook]) .omnisidebar_resize_box {
		height: 93.5% !important;
	}
	
	.sidebar-box[renderabove]:not([squareLook]) .omnisidebar_resize_box {
		box-shadow: 1px 1px 2px rgba(0,0,0,.4), 1px 0px 3px rgba(0,0,0,.4) inset, 1px 1px 6px rgba(0,0,0,.4) !important;
		border: 1px solid rgba(0,0,0,.4) !important;
	}
	
	#sidebar-box:not([movetoright]) .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin[movetoleft] .omnisidebar_resize_box {
		-moz-border-start: 0 !important;
	}
	#sidebar-box[movetoright] .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin:not([movetoleft]) .omnisidebar_resize_box {
		-moz-border-end: 0 !important;
	}
	
	#sidebar-box:-moz-locale-dir(ltr):not([movetoright]):not([squareLook]) .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin:-moz-locale-dir(ltr)[movetoleft]:not([squareLook]) .omnisidebar_resize_box,
	#sidebar-box:-moz-locale-dir(rtl)[movetoright]:not([squareLook]) .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin:-moz-locale-dir(rtl):not([movetoleft]):not([squareLook]) .omnisidebar_resize_box {
		border-radius: 0 5px 5px 0 !important;
	}
	#sidebar-box:-moz-locale-dir(ltr)[movetoright]:not([squareLook]) .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin:-moz-locale-dir(ltr):not([movetoleft]):not([squareLook]) .omnisidebar_resize_box,
	#sidebar-box:-moz-locale-dir(rtl):not([movetoright]):not([squareLook]) .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin:-moz-locale-dir(rtl)[movetoleft]:not([squareLook]) .omnisidebar_resize_box {
		border-radius: 5px 0 0 5px !important;
	}
	
	#sidebar-box:not([movetoright])[squareLook] .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin[movetoleft][squareLook] .omnisidebar_resize_box {
		-moz-border-end: 1px solid #A9B7C9 !important;
	}
	#sidebar-box[movetoright][squareLook] .omnisidebar_resize_box,
	#omnisidebar-sidebar-box-twin:not([movetoleft])[squareLook] .omnisidebar_resize_box {
		-moz-border-start: 1px solid #A9B7C9 !important;
	}
	
	.omnisidebar_resizer {
		border: none !important;
		height: 100%;
	}
	
	#sidebar-box:not([movetoright]) .omnisidebar_resizer,
	#omnisidebar-sidebar-box-twin[movetoleft] .omnisidebar_resizer {
		-moz-margin-start: -4px !important;
	}
	
	#sidebar-box[movetoright] .omnisidebar_resizer,
	#omnisidebar-sidebar-box-twin:not([movetoleft]) .omnisidebar_resizer {
		-moz-margin-end: -4px !important;
	}
	
	/* For the status bar link display */
	notificationbox statuspanel,
	/* I have no idea what this is, maybe it was removed in some FF version? */
	#appcontent > #statusbar-display {
		z-index: 300;
	}

}
