/* parts of this were based on banthaz's userstyle:
  Add-ons Manager - In the Sidebar (https://userstyles.org/styles/48731/add-ons-manager-in-the-sidebar) */
  
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("about:addons") {
	
	/* general and top toolbox */
	
	#addons-page.inSidebar {
		padding: 8px !important;
	}
	
	#addons-page.inSidebar > hbox:not(#header) {
		-moz-box-orient: vertical !important;
	}
	
	.inSidebar #header {
		font-size: 0.9em !important;
	}
	
	.inSidebar #back-btn,
	.inSidebar #forward-btn {
		display: -moz-box !important;
	}
	
	.inSidebar #header-search {
		min-width: 10em !important;
		max-width: 20em !important;
		-moz-box-flex: 1 !important;
	}
	
	.inSidebar #header-utils-btn {
		margin: 0 3px !important;
	}
	
	/* horizontal categories at the top */
	
	.inSidebar #categories {
		display: table-row !important;
	}
	
	.inSidebar #categories .scrollbox-innerbox {
		overflow: hidden !important;
		-moz-margin-start: 5px !important;
	}
	
	.inSidebar .category:not([disabled="true"]):not([persist="hidden"]):not([hidden="true"]) {
		display: table-cell !important;
	}
	
	.inSidebar .category[disabled="true"], 
	.inSidebar .category[persist="hidden"], 
	.inSidebar .category[hidden="true"],
	.inSidebar #category-userstyles {
		display: none !important;
	}
	
	.inSidebar .category-name,
	.inSidebar .category-badge {
		display: none !important;
	}
	
	.inSidebar .category image {
		margin: 0 !important;
	}
	
	.inSidebar .category[selected="true"] {
		border-bottom: none !important;
		border-right: 1px solid;
		border-top: 1px solid;
		border-left: 1px solid;
		-moz-border-top-colors: rgb(195,206,223);
		-moz-border-left-colors: rgb(195,206,223);
		-moz-border-right-colors: rgb(195,206,223);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	
	.inSidebar .category {
		padding: 4px !important;
		height: 46px !important;
	}
	
	/* scrollable lists panes */
	
	.inSidebar #view-port-container {
		height: 1700px !important;
	}
	
	.inSidebar .view-pane {
		font-size: 0.85em !important;
	}
	
	.inSidebar .basicinfo-container {
		width: 100% !important;
	}
	
	.inSidebar .disabled-postfix,
	.inSidebar .update-postfix {
		font-size: 0.8em !important;
	}
	
	.inSidebar .view-pane richlistitem {
		padding: 0 5px 2px 5px !important;
	}
	
	.inSidebar .addon .content-container { 
		margin: 3px 0 !important;
	}
	
	.inSidebar .warning,
	.inSidebar .error,
	.inSidebar .pending {
		-moz-margin-start: 0 !important;
	}
	
	.inSidebar .warning-icon,
	.inSidebar .pending-icon,
	.inSidebar .error-icon {
		width: 16px !important;
		height: 16px !important;
	}
	
	.inSidebar .list .name-container {
		font-size: 1.4em !important;
	}
	
	.inSidebar .list button {
		margin: 1px 2px 2px 2px !important;
		padding: 0 2px 0 2px !important;
	}
	
	.inSidebar .list richlistitem .description {
		display: none !important;
	}
	
	.inSidebar .list richlistitem .description-container {
		margin: 0 !important;
	}
	
	.inSidebar #updates-list .date-updated { 
		font-size: 1.2em !important; 
	}
	
	.inSidebar .icon-container {
		margin: 0 !important;
		margin-top: 2px !important;
	}
	
	.inSidebar .addon:not([selected]):not(:hover) .disabled-postfix,
	.inSidebar .addon:not([selected]):not(:hover) .update-postfix {
		display: none !important;
	}
	
	.inSidebar .addon:not([selected]):not(:hover) :-moz-any(.description-outer-container,.control-container,.addon-control.update,.include-update,.update-available),
	.inSidebar .addon:not([selected]):not(:hover) .status-container > hbox {
		visibility: collapse !important;
	}
	
	.inSidebar .addon:not([selected]):not(:hover) .advancedinfo-container {
		margin-top: -20px !important;
	}
	
	.inSidebar .addon:-moz-any([selected],:hover) .icon-container,
	.inSidebar .addon:-moz-any([selected],:hover) .icon {
		width: 32px !important;
		height: 32px !important;
	}
	
	.inSidebar .addon:not([selected]):not(:hover) .icon-container,
	.inSidebar .addon:not([selected]):not(:hover) .icon {
		width: 16px !important;
		height: 16px !important;
	}
	
	/* item details page */
	
	.inSidebar #detail-autoUpdate radio {
		margin: 2px 0px 2px 0px !important;
	}
	
	.inSidebar #detail-autoUpdate radio .radio-label-box {
		-moz-margin-start: 0px !important;
		-moz-padding-start: 0px !important;
	}
	
	.inSidebar #detail-findUpdates-btn {
		-moz-margin-start: 0 !important;
		-moz-margin-end: 0 !important;
	}
	
	.inSidebar #detail-grid .detail-row-label {
		-moz-margin-start: 0 !important;
	}
	
	/* Add-on detail pages - Remove wasted space */
	
	.inSidebar #detail-notifications + hbox {
		-moz-box-orient: vertical !important;
		position: relative !important;
	}
	
	.inSidebar .detail-view-container {
		padding: 0 5px !important;
	}
	
	.inSidebar #detail-screenshot,
	.inSidebar #detail-icon {
		margin: 0 !important;
	}
	
	.inSidebar #detail-icon-container {
		position: absolute !important;
	}
	
	.inSidebar #detail-notifications {
		margin-top: 0.5em !important;
		margin-bottom: 0.5em !important;
		-moz-margin-start: 0.8em !important;
		-moz-margin-end: 0 !important;
	}
	
	.inSidebar #detail-summary {
		-moz-margin-start: 68px !important;
		margin-top: 0.5em !important;
		margin-bottom: 2.5em !important;
	}
	
	.inSidebar #detail-desc-container {
		display: inline !important;
		text-align: center !important;
	}
	
	.inSidebar #detail-desc-container > * {
		text-align: start !important;
	}
	
	.inSidebar #detail-desc-container + * {
		margin-top: 2em !important;
	}
	
	/* Add-on detail pages - Stack tables */
	
	.inSidebar #detail-grid {
		display: inline !important;
	}
	
	.inSidebar #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) {
		display: table !important;
	}
	
	.inSidebar #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) > label.detail-row-label {
		width: 95% !important;
	}
	
	.inSidebar #detail-grid > rows > row > :nth-child(2) {
		margin-left: 2em !important;
	}
	
	.inSidebar #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) > label:not(.detail-row-label) {
		margin-left: 2.5em !important;
	}
	
	.inSidebar #detail-rows > setting,
	.inSidebar #detail-controls {
		width: 100% !important;
	}
	
	.inSidebar #detail-rows > setting > vbox {
		-moz-box-ordinal-group: 2 !important;
	}
	
	.inSidebar #detail-rows > setting[collapsed] {
		display: none !important;
	}

}
