/* parts of this were based on banthaz's userstyle:
  Add-ons Manager - In the Sidebar (https://userstyles.org/styles/48731/add-ons-manager-in-the-sidebar) */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);
@-moz-document url("about:addons") {

	/* general and top toolbox */

	#addons-page.inSidebar > hbox:not(#header) {
		-moz-box-orient: vertical;
	}

	.inSidebar #nav-header {
		margin: 0 4px;
	}

	.inSidebar #header {
		font-size: 0.9em;
		margin: 0;
	}

	.inSidebar #back-btn,
	.inSidebar #forward-btn {
		display: -moz-box;
		margin-top: 0;
		margin-bottom: 0;
	}

	.inSidebar #back-btn {
		border-radius: 2px 0 0 2px;
		-moz-margin-start: 2px;
	}
	.inSidebar #forward-btn {
		border-radius: 0 2px 2px 0;
		-moz-margin-end: 2px;
		-moz-border-start: none;
	}

	.inSidebar #nav-header > .nav-button:-moz-any([disabled="true"],:not(:hover)) {
		border-color: #c1c1c1;
		background-color: #fbfbfb;
	}

	.inSidebar #nav-header > .nav-button:not([disabled="true"]):hover {
		border-color: #c1c1c1;
	}

	.inSidebar #header-search {
		max-width: 20em;
		-moz-box-flex: 1;
		min-width: 5em;
	}

	.inSidebar #header-utils-btn,
	.inSidebar #header button.button-link {
		margin: 0;
	}

	.inSidebar #header-utils-btn,
	.inSidebar #header-search {
		padding: 1px 5px;
		height: 26px;
	}

	.inSidebar #search-filter {
		-moz-margin-end: 0;
		padding: 5px;
	}

	/* horizontal categories at the top */

	.inSidebar #categories {
		display: table-row;
	}

	.inSidebar #categories .scrollbox-innerbox {
		overflow: hidden;
		-moz-margin-start: 5px;
	}

	.inSidebar .category:not([disabled="true"]):not([persist="hidden"]):not([hidden="true"]) {
		display: table-cell;
	}

	.inSidebar .category[disabled="true"],
	.inSidebar .category[persist="hidden"],
	.inSidebar .category[hidden="true"],
	.inSidebar #category-userstyles {
		display: none;
	}

	.inSidebar .category-name,
	.inSidebar .category-badge {
		display: none;
	}

	.inSidebar .category {
		padding: 3px;
		height: 40px;
	}
	#addons-page.inSidebar .category {
		border-radius: 4px 4px 0 0;
		border-top: 1px solid transparent;
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
	}

	.inSidebar .category image {
		width: 28px;
		height: 28px;
		margin: 0;
	}

	#addons-page.inSidebar .category[selected="true"],
	#addons-page.inSidebar .category:hover {
		-moz-border-top-colors: #c1c1c1;
		-moz-border-left-colors: #c1c1c1;
		-moz-border-right-colors: #c1c1c1;
		background-color: transparent;
		background-image: linear-gradient(to bottom, #fbfbfb 0px, #fbfbfb 50%, transparent 100%);
	}

	/* scrollable lists panes */

	#addons-page.inSidebar .main-content {
		border-top: 1px solid #c1c1c1;
	}

	.inSidebar .main-content,
	#addons-page.inSidebar .view-pane > .list > scrollbox {
		padding: 0;
	}

	.inSidebar .view-header {
		-moz-margin-end: 0;
	}

	.inSidebar .sorter[checkState="1"],
	.inSidebar .sorter[checkState="2"],
	.inSidebar .sorter:hover {
		box-shadow: inset 1px 0 0 #c1c1c1, inset -1px 0 0 #c1c1c1;
		background-color: #fbfbfb;
	}

	.inSidebar #view-port-container {
		height: 3700px;
	}

	.inSidebar .view-pane {
		font-size: 0.85em;
	}

	.inSidebar .basicinfo-container {
		width: 100%;
	}

	.inSidebar .disabled-postfix,
	.inSidebar .update-postfix {
		font-size: 0.8em;
	}

	.inSidebar .view-pane richlistitem {
		padding: 0 5px 2px 5px;
	}

	#addons-page.inSidebar .view-pane richlistitem[selected="true"] {
		-moz-border-start: none;
	}

	/* reenable with hover effects below */
	/*.inSidebar .addon .content-container {
		margin: 3px 0;
	}*/

	.inSidebar .warning,
	.inSidebar .error,
	.inSidebar .pending {
		-moz-margin-start: 0;
	}

	.inSidebar .warning-icon,
	.inSidebar .pending-icon,
	.inSidebar .error-icon {
		width: 16px;
		height: 16px;
	}

	#addons-page.inSidebar .list {
		border: none;
	}

	.inSidebar .list .name-container {
		font-size: 1.4em;
	}

	.inSidebar .list button {
		margin: 1px 2px 2px 2px;
		padding: 0 2px 0 2px;
	}

	.inSidebar .list richlistitem .description {
		display: none;
	}

	.inSidebar .list richlistitem .description-container {
		margin: 0;
	}

	.inSidebar #updates-list .date-updated {
		font-size: 1.2em;
	}

	#addons-page.inSidebar richlistitem .update-info-container > *,
	#addons-page.inSidebar richlistitem .control-container > *,
	#addons-page.inSidebar richlistitem .install-status > * {
		min-height: 2em;
		max-height: 2em;
	}

	#addons-page.inSidebar richlistitem .content-container {
		position: relative;
	}

	#addons-page.inSidebar richlistitem .control-container,
	#addons-page.inSidebar richlistitem .install-status {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#addons-page.inSidebar richlistitem .control-container:not([hidden="true"]),
	#addons-page.inSidebar richlistitem .install-status:not([hidden="true"]) {
		display: flex;
	}

	#addons-page.inSidebar richlistitem .control-container menulist,
	#addons-page.inSidebar richlistitem .install-status .download-progress {
		margin-top: 1px;
	}

	#addons-page.inSidebar richlistitem .status-container {
		margin-top: -2em;
	}

	#addons-page.inSidebar .status-control-wrapper button,
	#addons-page.inSidebar .status-control-wrapper menulist {
		min-width: 5em;
	}

	#addons-page.inSidebar .details.button-link > *.button-box,
	#addons-page.inSidebar .status-control-wrapper button > *.button-box,
	#addons-page.inSidebar .status-control-wrapper menulist > *.menulist-label-box {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	#addons-page.inSidebar richlistitem .install-status .status-container {
		margin-top: 0;
	}

	#addons-page.inSidebar richlistitem .install-status .download-progress .progress .progress-bar  {
		min-height: 17px;
	}

	#addons-page.inSidebar richlistitem[status="installing"] .content-container {
		margin-bottom: 25px;
	}

	#addons-page.inSidebar richlistitem[status="installing"] .install-status {
		bottom: -25px;
	}

	/* with hover effects margin-top is 2px, recheck when reenable */
	.inSidebar .icon-container {
		margin: 9px 0 0 0;
	}

	/* slim down unchecked and unhovered entries */
	/* disabled for now, until this is put behind a pref; also experiment with some transitions */
	/*
	.inSidebar .addon:not([selected]):not(:hover) .disabled-postfix,
	.inSidebar .addon:not([selected]):not(:hover) .update-postfix {
		display: none;
	}

	.inSidebar .addon:not([selected]):not(:hover) :-moz-any(.description-outer-container,.control-container,.addon-control.update,.include-update,.update-available),
	.inSidebar .addon:not([selected]):not(:hover) .status-container > hbox {
		visibility: collapse;
	}

	.inSidebar .addon:not([selected]):not(:hover) .advancedinfo-container {
		margin-top: -20px;
	}

	.inSidebar .addon:-moz-any([selected],:hover) .icon-container,
	.inSidebar .addon:-moz-any([selected],:hover) .icon {
		width: 32px;
		height: 32px;
	}

	.inSidebar .addon:not([selected]):not(:hover) .icon-container,
	.inSidebar .addon:not([selected]):not(:hover) .icon {
		width: 16px;
		height: 16px;
	}
	*/

	/* disable when reenabling mouse over */
	.inSidebar .addon .advancedinfo-container {
		margin-top: -2px;
	}
	.inSidebar .addon .icon-container,
	.inSidebar .addon .icon {
		width: 28px;
		height: 28px;
	}

	/* make sure add-on names aren't truncated when lots of labels are shown, especially on Updates tab */
	.inSidebar .basicinfo-container {
		display: block;
	}
	.inSidebar .date-updated {
		float: left;
	}
	.inSidebar .update-postfix {
		visibility: collapse;
	}

	/* e.g. Release Notes section would always be white and with a huge font */
	.inSidebar html|body {
		background: transparent;
		font-size: 1em;
	}

	.inSidebar .addon:not([selected]) .relnotes-toggle:hover {
		background-color: #fafafa;
	}

	/* item details page */

	.inSidebar #detail-view {
		-moz-margin-end: 0;
	}

	.inSidebar #detail-autoUpdate radio {
		margin: 2px 0px 2px 0px;
	}

	.inSidebar #detail-autoUpdate radio .radio-label-box {
		-moz-margin-start: 0px;
		-moz-padding-start: 0px;
	}

	.inSidebar #detail-findUpdates-btn {
		-moz-margin-start: 0;
		-moz-margin-end: 0;
	}

	.inSidebar #detail-grid .detail-row-label {
		-moz-margin-start: 0;
	}

	/* Add-on detail pages - Remove wasted space */

	.inSidebar #detail-name-container {
		-moz-box-orient: vertical;
	}

	.inSidebar #detail-notifications + hbox {
		-moz-box-orient: vertical;
		position: relative;
	}

	.inSidebar .detail-view-container {
		padding: 0 5px;
	}

	.inSidebar #detail-screenshot,
	.inSidebar #detail-icon {
		margin: 0;
	}

	.inSidebar #detail-icon-container {
		position: absolute;
	}

	.inSidebar #detail-notifications {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		-moz-margin-start: 0.8em;
		-moz-margin-end: 0;
	}

	.inSidebar #detail-summary {
		-moz-margin-start: 68px;
		margin-top: 0.5em;
		margin-bottom: 2.5em;
	}

	.inSidebar #detail-desc-container {
		display: inline;
		text-align: center;
		word-wrap: break-word;
	}

	.inSidebar #detail-desc-container > * {
		text-align: start;
	}

	.inSidebar #detail-desc-container + * {
		margin-top: 2em;
	}

	 @media all and (max-width: 20.25em) {
		.inSidebar #detail-contributions {
			padding: 0.25em;
		}
	}

	.inSidebar #detail-grid #detail-findUpdates-btn > .button-box {
		-moz-padding-end: 5px !important;
	}

	.inSidebar :-moz-any(row,#search-filter) radio > *,
	.inSidebar :-moz-any(row,.status-control-wrapper) checkbox > * {
		-moz-margin-end: 4px;
	}

	.inSidebar :-moz-any(row,#search-filter) radio .radio-check,
	.inSidebar :-moz-any(row,.status-control-wrapper) checkbox .checkbox-check {
		width: 16px;
		height: 16px;
	}

	/* Add-on detail pages - Stack tables */

	.inSidebar #detail-grid {
		display: inline;
	}

	.inSidebar .detail-row,
	.inSidebar .detail-row-complex,
	.inSidebar setting{
		font-size: 1em;
	}

	.inSidebar #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) {
		display: table;
	}

	.inSidebar #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) > label.detail-row-label {
		width: 95%;
	}

	.inSidebar #detail-grid > rows > row > :nth-child(2) {
		margin-left: 2em;
	}

	.inSidebar #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) > label:not(.detail-row-label) {
		margin-left: 2.5em;
	}

	.inSidebar #detail-controls,
	.inSidebar #detail-rows > * {
		width: 100%;
	}

	.inSidebar #detail-rows,
	.inSidebar #detail-rows > setting:not([desc=""]) > vbox {
		display: flex;
		flex-direction: column;
	}

	.inSidebar #detail-rows > setting {
		display: flex;
		flex-direction: row;
	}

	.inSidebar #detail-rows > setting[collapsed="true"] {
		display: none;
	}

	.inSidebar #detail-rows > setting > vbox,
	.inSidebar #detail-rows > setting:not([desc=""]) > vbox > * {
		flex: 1 1 auto;
	}

	.inSidebar #detail-rows > setting > hbox {
		flex: 0 0 auto;
		margin: auto !important;
	}

	.inSidebar #detail-rows > setting:not([type="string"]):not([type="integer"]) > hbox {
		display: flex;
	}

	.inSidebar #detail-rows > setting[type="menulist"] menulist {
		margin-top: auto;
		margin-bottom: auto;
	}

	.inSidebar setting radio > * {
		-moz-margin-end: 4px;
	}

	.inSidebar setting radio .radio-check,
	.inSidebar setting checkbox .checkbox-check {
		width: 20px;
		height: 20px;
	}

	.inSidebar setting textbox {
		height: 28px;
	}

	.inSidebar setting menulist {
		height: 24px;
	}

	.inSidebar setting > vbox .preferences-alignment {
		height: 100%;
	}

	.inSidebar #detail-rows > setting .preferences-description {
		-moz-margin-start: 6px;
	}

	/* Stylish tab */

	/* in small windows, like the sidebar panel, the columns (sorters) force the panel to go beyond the limits */
	/* this forces those buttons to wrap */
	@media all and (max-width: 23.3em) {
		.inSidebar #list-view[type="userstyle"] #addon-list-empty[hidden] ~ #userstyle-sorting { display: block; }
	}

}
