@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	.sidebar-box[renderabove][autohide]:not([collapsed]) .omnisidebar_resize_box {
		opacity: 0;
		visibility: hidden;
	}
	
	.sidebar-box[renderabove][autohide]:not([collapsed]) .omnisidebar_resize_box[SidebarFocused] {
		visibility: visible;
	}
	
	.sidebar-box[renderabove][autohide]:not([collapsed]):not([dontReHover]) .omnisidebar_resize_box:hover,
	.sidebar-box[renderabove][autohide]:not([collapsed]) .omnisidebar_resize_box[hover],
	.sidebar-box[renderabove][autohide]:not([collapsed]):not([dontReHover]) .omnisidebar_resize_box[hiding] {
		opacity: 1;
		visibility: visible;
	}
	
	.sidebar-box[renderabove][autohide]:not([disablefx]) .omnisidebar_resize_box {
		transition: left .5s linear .2s, right .5s linear .2s, opacity .5s linear .2s, z-index .5s linear .2s, visibility .6s;
	}
	
	.sidebar-box[renderabove][autohide]:not([disablefx]) .omnisidebar_resize_box:-moz-any(:hover,[hover],[hiding]) {
		transition: left .25s linear 0s, right .25s linear 0s, opacity .25s linear 0s, z-index .25s linear 0s, visibility 0s;
	}
	
	.sidebar-box[renderabove][autohide]:not([disablefx]) .omnisidebar_resize_box[SidebarFocused] {
		transition-property: left, right, opacity, z-index;
	}

}
