@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/devtools/webconsole.xul") {
	
	#devtools-webconsole.inSidebar toolbarbutton[type="menu-button"] label,
	#devtools-webconsole.inSidebar toolbarbutton.webconsole-clear-console-button image {
		display: none !important;
	}
	
	#devtools-webconsole.inSidebar toolbarbutton[type="menu-button"],
	#devtools-webconsole.inSidebar toolbarbutton.webconsole-clear-console-button {
		min-width: 40px !important;
	}
	
	#devtools-webconsole.inSidebar .hud-filter-box {
		width: 150px !important;
	}

}
