@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul"), url("chrome://global/content/customizeToolbar.xul") {

	/* Buttons */
	#omnisidebar_button,
	#omnisidebar_button-twin {
		list-style-image: url("chrome://omnisidebar/skin/osb-button.png") !important;
	}
	
	:not(#TabsToolbar) #omnisidebar_button:not([movetoright]):not([updscannew]):not([feednew]) { -moz-image-region: rect(0px 24px 24px 0px); }
	:not(#TabsToolbar) #omnisidebar_button:not([movetoright])[updscannew]:not([feednew]) { -moz-image-region: rect(0px 48px 24px 24px); }
	:not(#TabsToolbar) #omnisidebar_button:not([movetoright]):not([updscannew])[feednew] { -moz-image-region: rect(0px 72px 24px 48px); }
	:not(#TabsToolbar) #omnisidebar_button:not([movetoright])[updscannew][feednew] { -moz-image-region: rect(0px 96px 24px 72px); }
	
	:not(#TabsToolbar) #omnisidebar_button-twin:not([movetoleft]):not([updscannew]):not([feednew]) { -moz-image-region: rect(24px 24px 48px 0px); }
	:not(#TabsToolbar) #omnisidebar_button-twin:not([movetoleft])[updscannew]:not([feednew]) { -moz-image-region: rect(24px 48px 48px 24px); }
	:not(#TabsToolbar) #omnisidebar_button-twin:not([movetoleft]):not([updscannew])[feednew] { -moz-image-region: rect(24px 72px 48px 48px); }
	:not(#TabsToolbar) #omnisidebar_button-twin:not([movetoleft])[updscannew][feednew] { -moz-image-region: rect(24px 96px 48px 72px); }
	
	:not(#TabsToolbar) #omnisidebar_button[movetoright]:not([updscannew]):not([feednew]) { -moz-image-region: rect(24px 24px 48px 0px); }
	:not(#TabsToolbar) #omnisidebar_button[movetoright][updscannew]:not([feednew]) { -moz-image-region: rect(24px 48px 48px 24px); }
	:not(#TabsToolbar) #omnisidebar_button[movetoright]:not([updscannew])[feednew] { -moz-image-region: rect(24px 72px 48px 48px); }
	:not(#TabsToolbar) #omnisidebar_button[movetoright][updscannew][feednew] { -moz-image-region: rect(24px 96px 48px 72px); }
	
	:not(#TabsToolbar) #omnisidebar_button-twin[movetoleft]:not([updscannew]):not([feednew]) { -moz-image-region: rect(0px 24px 24px 0px); }
	:not(#TabsToolbar) #omnisidebar_button-twin[movetoleft][updscannew]:not([feednew]) { -moz-image-region: rect(0px 48px 24px 24px); }
	:not(#TabsToolbar) #omnisidebar_button-twin[movetoleft]:not([updscannew])[feednew] { -moz-image-region: rect(0px 72px 24px 48px); }
	:not(#TabsToolbar) #omnisidebar_button-twin[movetoleft][updscannew][feednew] { -moz-image-region: rect(0px 96px 24px 72px); }
	
	#TabsToolbar #omnisidebar_button:not([movetoright]):not([updscannew]):not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button:not([movetoright]):not([updscannew]):not([feednew]) {
		-moz-image-region: rect(48px 24px 72px 0px);
	}
	#TabsToolbar #omnisidebar_button:not([movetoright])[updscannew]:not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button:not([movetoright])[updscannew]:not([feednew]) {
		-moz-image-region: rect(48px 48px 72px 24px);
	}
	#TabsToolbar #omnisidebar_button:not([movetoright]):not([updscannew])[feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button:not([movetoright]):not([updscannew])[feednew] {
		-moz-image-region: rect(48px 72px 72px 48px);
	}
	#TabsToolbar #omnisidebar_button:not([movetoright])[updscannew][feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button:not([movetoright])[updscannew][feednew] {
		-moz-image-region: rect(48px 96px 72px 72px);
	}
	
	#TabsToolbar #omnisidebar_button-twin:not([movetoleft]):not([updscannew]):not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin:not([movetoleft]):not([updscannew]):not([feednew]) {
		-moz-image-region: rect(72px 24px 96px 0px);
	}
	#TabsToolbar #omnisidebar_button-twin:not([movetoleft])[updscannew]:not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin:not([movetoleft])[updscannew]:not([feednew]) {
		-moz-image-region: rect(72px 48px 96px 24px);
	}
	#TabsToolbar #omnisidebar_button-twin:not([movetoleft]):not([updscannew])[feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin:not([movetoleft]):not([updscannew])[feednew] {
		-moz-image-region: rect(72px 72px 96px 48px);
	}
	#TabsToolbar #omnisidebar_button-twin:not([movetoleft])[updscannew][feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin:not([movetoleft])[updscannew][feednew] {
		-moz-image-region: rect(72px 96px 96px 72px);
	}
	
	#TabsToolbar #omnisidebar_button[movetoright]:not([updscannew]):not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button[movetoright]:not([updscannew]):not([feednew]) {
		-moz-image-region: rect(72px 24px 96px 0px);
	}
	#TabsToolbar #omnisidebar_button[movetoright][updscannew]:not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button[movetoright][updscannew]:not([feednew]) {
		-moz-image-region: rect(72px 48px 96px 24px);
	}
	#TabsToolbar #omnisidebar_button[movetoright]:not([updscannew])[feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button[movetoright]:not([updscannew])[feednew] {
		-moz-image-region: rect(72px 72px 96px 48px);
	}
	#TabsToolbar #omnisidebar_button[movetoright][updscannew][feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button[movetoright][updscannew][feednew] {
		-moz-image-region: rect(72px 96px 96px 72px);
	}
	
	#TabsToolbar #omnisidebar_button-twin[movetoleft]:not([updscannew]):not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin[movetoleft]:not([updscannew]):not([feednew]) {
		-moz-image-region: rect(48px 24px 72px 0px);
	}
	#TabsToolbar #omnisidebar_button-twin[movetoleft][updscannew]:not([feednew]),
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin[movetoleft][updscannew]:not([feednew]) {
		-moz-image-region: rect(48px 48px 72px 24px);
	}
	#TabsToolbar #omnisidebar_button-twin[movetoleft]:not([updscannew])[feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin[movetoleft]:not([updscannew])[feednew] {
		-moz-image-region: rect(48px 72px 72px 48px);
	}
	#TabsToolbar #omnisidebar_button-twin[movetoleft][updscannew][feednew],
	:not(#TabsToolbar)[tabsontop="false"] #omnisidebar_button-twin[movetoleft][updscannew][feednew] {
		-moz-image-region: rect(48px 96px 72px 72px);
	}
	
	
	#navigator-toolbox[iconsize="small"] :not(#TabsToolbar) .adequate-size .toolbarbutton-icon,
	#navigator-toolbox[mode="full"] :not(#TabsToolbar) .adequate-size .toolbarbutton-icon {
		height: 18px;
	}
	#navigator-toolbox:not([mode="full"])[iconsize="large"] :not(#TabsToolbar) .adequate-size .toolbarbutton-icon { height: 24px; }
	
	#TabsToolbar .sidebarController.adequate-size .toolbarbutton-icon { height: 16px; }
	#TabsToolbar :not(.sidebarController).adequate-size .toolbarbutton-icon { height: 20px; }
	
	#navigator-toolbox[iconsize=large][mode=icons] > :not(#TabsToolbar):not(.omnisidebar-toolbar) > .adequate-size > .toolbarbutton-icon { padding: 2px 6px; }

}
