@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://global/content/console.xul"), url("chrome://console2/content/console2.xul") {
	
	#Console2Window.inSidebar toolbarbutton image {
		max-width: 16px !important;
		max-height: 16px !important;
	}
	#JSConsoleWindow.inSidebar toolbarbutton image {
		max-width: 20px !important;
		max-height: 20px !important;
	}
	
	#Console2Window.inSidebar #ToolbarMode toolbarbutton label {
		display: none !important;
	}
	#Console2Window.inSidebar #ToolbarMode toolbarbutton image {
		-moz-margin-end: 3px !important;
	}
	
	#ConsoleBox.inSidebar { 
		margin: 0 !important; 
	}
	
	#Console2Window.inSidebar #ConsoleToolbox,
	#Console2Window.inSidebar #ConsoleToolbox toolbar {
		-moz-appearance: none !important;
		background: none !important;
		border: none !important;
	}
	#Console2Window.inSidebar #ConsoleBox {
		-moz-appearance: none !important;
		margin: 0 !important;
		border: none;
		border-top: 1px solid #888;
	}
	
	/* These are so message rows don't get a ridiculous width, the first are just for the dots (supposedly) pointing to the part of the code that's errored */
	#JSConsoleWindow.inSidebar .console-row-code > box,
	#JSConsoleWindow.inSidebar .console-row spacer { 
		display: none !important;
	}
	#JSConsoleWindow.inSidebar .console-row-file .console-error-source,
	#JSConsoleWindow.inSidebar .console-row-file {
		display: block !important;
		width: auto !important;
	}

}
