/* NavBar button effect */
#history-panel.insidebar #viewButton, 
#downloadManager.insidebar #clearListButton,
.insidebar #dmtTopToolBar button,
#UpdateScan-window.insidebar button,
#UpdateScan-window.insidebar toolbarbutton,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button),
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker,
.insidebar .toolbox-top toolbarbutton#all-toggle,
#JSConsoleWindow.insidebar toolbarbutton,
#Console2Window.insidebar toolbarbutton,
#stylish-manage-standalone.insidebar button,
#stylish-manage-standalone.insidebar menulist,
.insidebar #mbrInspectorMain > menu,
.insidebar #tbInspectorPrimary toolbarbutton,
.insidebar #bxPanelSet toolbarbutton,
.omnisidebarURIBarMenu button,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover,
.sidebar-box:not([noTitleButton]) .sidebar-title[active],
#addons-page.insidebar .header-button,
#addons-page.insidebar .addon-control,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu,
#sbSimilarWebSidebar.insidebar #btnShare,
.insidebar #btnAddSite:after,
.insidebar #hideTabbarCheck,
.insidebar #ybsidebar-tags-sort-menu,
.insidebar #ybsidebar-bookmarks-sort-menu,
.insidebar #bookmarks-dustbox {
	-moz-appearance: none !important;
	opacity: 1 !important;
	background: rgba(151, 152, 153, 0.05) -moz-linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%, rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3)) repeat scroll 0% 0% !important;
	background-clip: padding-box !important;
	border: 1px solid !important;
	border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
	border-radius: 3.5px !important;
	padding: 1px 5px !important;
	margin: 1px 3px !important;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset !important;
  	color: black !important;
 	text-shadow: 0 0 2px white !important;
}

.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	padding-left: 3px !important;
	padding-right: 3px !important;
	-moz-border-start-style: none !important;
}

#history-panel.insidebar #viewButton[disabled="true"], 
#downloadManager.insidebar #clearListButton[disabled="true"],
.insidebar #dmtTopToolBar button[disabled="true"],
#UpdateScan-window.insidebar button[disabled="true"],
#UpdateScan-window.insidebar toolbarbutton[disabled="true"],
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[disabled="true"],
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton[disabled="true"],
.insidebar .toolbox-top #nav-bar #reload-button dropmarker[disabled="true"],
.insidebar .toolbox-top toolbarbutton#all-toggle[disabled="true"],
#JSConsoleWindow.insidebar toolbarbutton[disabled="true"],
#Console2Window.insidebar toolbarbutton[disabled="true"],
#stylish-manage-standalone.insidebar button[disabled="true"],
#stylish-manage-standalone.insidebar menulist[disabled="true"],
.insidebar #mbrInspectorMain > menu[disabled="true"],
.insidebar #tbInspectorPrimary toolbarbutton[disabled="true"],
.insidebar #bxPanelSet toolbarbutton[disabled="true"],
.omnisidebarURIBarMenu button[disabled="true"],
.sidebar-box:not([noTitleButton]) .sidebar-title:hover[disabled="true"],
.sidebar-box:not([noTitleButton]) .sidebar-title[active][disabled="true"],
#addons-page.insidebar .header-button[disabled="true"],
#addons-page.insidebar .addon-control[disabled="true"],
#sbSimilarWebSidebar.insidebar #btnOptionsMenu[disabled="true"],
#sbSimilarWebSidebar.insidebar #btnShare[disabled="true"],
.insidebar #btnAddSite[disabled="true"]:after,
.insidebar #hideTabbarCheck[disabled="true"],
.insidebar #ybsidebar-tags-sort-menu[disabled="true"],
.insidebar #ybsidebar-bookmarks-sort-menu[disabled="true"],
.insidebar #bookmarks-dustbox[disabled="true"] {
	opacity: .8;
}

#history-panel.insidebar #viewButton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon, 
#downloadManager.insidebar #clearListButton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #dmtTopToolBar button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#UpdateScan-window.insidebar button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#UpdateScan-window.insidebar toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar .toolbox-top toolbarbutton#all-toggle[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#JSConsoleWindow.insidebar toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#Console2Window.insidebar toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#stylish-manage-standalone.insidebar button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#stylish-manage-standalone.insidebar menulist[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #mbrInspectorMain > menu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #tbInspectorPrimary toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #bxPanelSet toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.omnisidebarURIBarMenu button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.sidebar-box:not([noTitleButton]) .sidebar-title[active][disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#addons-page.insidebar .header-button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#addons-page.insidebar .addon-control[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#sbSimilarWebSidebar.insidebar #btnShare[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #hideTabbarCheck[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #ybsidebar-tags-sort-menu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #ybsidebar-bookmarks-sort-menu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.insidebar #bookmarks-dustbox[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,

#history-panel.insidebar #viewButton[disabled="true"] > .toolbarbutton-icon, 
#downloadManager.insidebar #clearListButton[disabled="true"] > .toolbarbutton-icon,
.insidebar #dmtTopToolBar button[disabled="true"] > .toolbarbutton-icon,
#UpdateScan-window.insidebar button > .toolbarbutton-icon,
#UpdateScan-window.insidebar toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[disabled="true"] > .toolbarbutton-icon,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker[disabled="true"] > .toolbarbutton-icon,
.insidebar .toolbox-top toolbarbutton#all-toggle[disabled="true"] > .toolbarbutton-icon,
#JSConsoleWindow.insidebar toolbarbutton[disabled="true"] > .toolbarbutton-icon,
#Console2Window.insidebar toolbarbutton[disabled="true"] > .toolbarbutton-icon,
#stylish-manage-standalone.insidebar button[disabled="true"] > .toolbarbutton-icon,
#stylish-manage-standalone.insidebar menulist[disabled="true"] > .toolbarbutton-icon,
.insidebar #mbrInspectorMain > menu[disabled="true"] > .toolbarbutton-icon,
.insidebar #tbInspectorPrimary toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.insidebar #bxPanelSet toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.omnisidebarURIBarMenu button[disabled="true"] > .toolbarbutton-icon,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover[disabled="true"] > .toolbarbutton-icon,
.sidebar-box:not([noTitleButton]) .sidebar-title[active][disabled="true"] > .toolbarbutton-icon,
#addons-page.insidebar .header-button[disabled="true"] > .toolbarbutton-icon,
#addons-page.insidebar .addon-control[disabled="true"] > .toolbarbutton-icon,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu[disabled="true"] > .toolbarbutton-icon,
#sbSimilarWebSidebar.insidebar #btnShare[disabled="true"] > .toolbarbutton-icon,
.insidebar #hideTabbarCheck[disabled="true"] > .toolbarbutton-icon,
.insidebar #ybsidebar-tags-sort-menu[disabled="true"] > .toolbarbutton-icon,
.insidebar #ybsidebar-bookmarks-sort-menu[disabled="true"] > .toolbarbutton-icon,
.insidebar #bookmarks-dustbox[disabled="true"] > .toolbarbutton-icon {
	opacity: .5;
}

.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,

#history-panel.insidebar #viewButton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover, 
#downloadManager.insidebar #clearListButton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #dmtTopToolBar button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#UpdateScan-window.insidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#UpdateScan-window.insidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button) > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar .toolbox-top toolbarbutton#all-toggle > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#JSConsoleWindow.insidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#Console2Window.insidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#stylish-manage-standalone.insidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#stylish-manage-standalone.insidebar menulist > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #mbrInspectorMain > menu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #tbInspectorPrimary toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #bxPanelSet toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.omnisidebarURIBarMenu button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover:not([checked="true"]):not([disabled="true"]),
.sidebar-box:not([noTitleButton]) .sidebar-title[active]:not([checked="true"]):not([disabled="true"]):hover,
#addons-page.insidebar .header-button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#addons-page.insidebar .addon-control > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#sbSimilarWebSidebar.insidebar #btnShare > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #hideTabbarCheck > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #ybsidebar-tags-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #ybsidebar-bookmarks-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.insidebar #bookmarks-dustbox > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,

#history-panel.insidebar #viewButton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]), 
#downloadManager.insidebar #clearListButton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #dmtTopToolBar button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.insidebar button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.insidebar toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top #nav-bar #reload-button dropmarker:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top toolbarbutton#all-toggle:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#JSConsoleWindow.insidebar toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#Console2Window.insidebar toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.insidebar button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.insidebar menulist:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #mbrInspectorMain > menu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #tbInspectorPrimary toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #bxPanelSet toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.omnisidebarURIBarMenu button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.insidebar .header-button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.insidebar .addon-control:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.insidebar #btnOptionsMenu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.insidebar #btnShare:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #hideTabbarCheck:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #ybsidebar-tags-sort-menu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #ybsidebar-bookmarks-sort-menu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #bookmarks-dustbox:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),

#history-panel.insidebar #viewButton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover, 
#downloadManager.insidebar #clearListButton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #dmtTopToolBar button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#UpdateScan-window.insidebar button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#UpdateScan-window.insidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker:not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar .toolbox-top toolbarbutton#all-toggle:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#JSConsoleWindow.insidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#Console2Window.insidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#stylish-manage-standalone.insidebar button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#stylish-manage-standalone.insidebar menulist:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #mbrInspectorMain > menu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #tbInspectorPrimary toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #bxPanelSet toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.omnisidebarURIBarMenu button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#addons-page.insidebar .header-button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#addons-page.insidebar .addon-control:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#sbSimilarWebSidebar.insidebar #btnShare:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #btnAddSite:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover:after,
.insidebar #hideTabbarCheck:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #ybsidebar-tags-sort-menu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #ybsidebar-bookmarks-sort-menu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.insidebar #bookmarks-dustbox:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	background-color: hsla(190,60%,70%,.5) !important;
	border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 1.5px rgba(255,255,255,.1) inset, 0 0 3.5px hsl(190,90%,80%) !important;
	-moz-transition: background-color .4s ease-in, border-color .3s ease-in, box-shadow .3s ease-in !important;
}

#history-panel.insidebar #viewButton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#downloadManager.insidebar #clearListButton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #dmtTopToolBar button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#UpdateScan-window.insidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#UpdateScan-window.insidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button) > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar .toolbox-top toolbarbutton#all-toggle > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#JSConsoleWindow.insidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#Console2Window.insidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#stylish-manage-standalone.insidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#stylish-manage-standalone.insidebar menulist > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #mbrInspectorMain > menu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #tbInspectorPrimary toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #bxPanelSet toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.omnisidebarURIBarMenu button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.sidebar-box:not([noTitleButton]) .sidebar-title[active] > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#addons-page.insidebar .header-button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#addons-page.insidebar .addon-control > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.insidebar #btnShare > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #hideTabbarCheck > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #ybsidebar-tags-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #ybsidebar-bookmarks-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.insidebar #bookmarks-dustbox > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,

#history-panel.insidebar #viewButton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]), 
#downloadManager.insidebar #clearListButton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #dmtTopToolBar button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.insidebar button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.insidebar toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top #nav-bar #reload-button dropmarker:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar .toolbox-top toolbarbutton#all-toggle:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#JSConsoleWindow.insidebar toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#Console2Window.insidebar toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.insidebar button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.insidebar menulist:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #mbrInspectorMain > menu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #tbInspectorPrimary toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #bxPanelSet toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.omnisidebarURIBarMenu button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.sidebar-box:not([noTitleButton]) .sidebar-title:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.sidebar-box:not([noTitleButton]) .sidebar-title[active]:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.insidebar .header-button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.insidebar .addon-control:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.insidebar #btnOptionsMenu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.insidebar #btnShare:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #hideTabbarCheck:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #ybsidebar-tags-sort-menu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #ybsidebar-bookmarks-sort-menu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.insidebar #bookmarks-dustbox:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),

#history-panel.insidebar #viewButton[open="true"] > .toolbarbutton-menubutton-dropmarker, 
#downloadManager.insidebar #clearListButton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #dmtTopToolBar button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#UpdateScan-window.insidebar button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#UpdateScan-window.insidebar toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar .toolbox-top toolbarbutton#all-toggle[open="true"] > .toolbarbutton-menubutton-dropmarker,
#JSConsoleWindow.insidebar toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
#Console2Window.insidebar toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
#stylish-manage-standalone.insidebar button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#stylish-manage-standalone.insidebar menulist[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #mbrInspectorMain > menu[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #tbInspectorPrimary toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #bxPanelSet toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.omnisidebarURIBarMenu button[open="true"] > .toolbarbutton-menubutton-dropmarker,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover[open="true"] > .toolbarbutton-menubutton-dropmarker,
.sidebar-box:not([noTitleButton]) .sidebar-title[active][open="true"] > .toolbarbutton-menubutton-dropmarker,
#addons-page.insidebar .header-button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#addons-page.insidebar .addon-control[open="true"] > .toolbarbutton-menubutton-dropmarker,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu[open="true"] > .toolbarbutton-menubutton-dropmarker,
#sbSimilarWebSidebar.insidebar #btnShare[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #hideTabbarCheck[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #ybsidebar-tags-sort-menu[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #ybsidebar-bookmarks-sort-menu[open="true"] > .toolbarbutton-menubutton-dropmarker,
.insidebar #bookmarks-dustbox[open="true"] > .toolbarbutton-menubutton-dropmarker,

#history-panel.insidebar #viewButton:not([type="menu-button"]):not([disabled="true"]):hover:active, 
#downloadManager.insidebar #clearListButton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #dmtTopToolBar button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#UpdateScan-window.insidebar button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#UpdateScan-window.insidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar .toolbox-top toolbarbutton#all-toggle:not([type="menu-button"]):not([disabled="true"]):hover:active,
#JSConsoleWindow.insidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
#Console2Window.insidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
#stylish-manage-standalone.insidebar button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#stylish-manage-standalone.insidebar menulist:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #mbrInspectorMain > menu:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #tbInspectorPrimary toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #bxPanelSet toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.omnisidebarURIBarMenu button:not([type="menu-button"]):not([disabled="true"]):hover:active,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover:not([type="menu-button"]):not([disabled="true"]):active,
.sidebar-box:not([noTitleButton]) .sidebar-title[active]:not([type="menu-button"]):not([disabled="true"]):hover:active,
#addons-page.insidebar .header-button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#addons-page.insidebar .addon-control:not([type="menu-button"]):not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu:not([type="menu-button"]):not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.insidebar #btnShare:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #btnAddSite:not([type="menu-button"]):not([disabled="true"]):hover:active:after,
.insidebar #hideTabbarCheck:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #ybsidebar-tags-sort-menu:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #ybsidebar-bookmarks-sort-menu:not([type="menu-button"]):not([disabled="true"]):hover:active,
.insidebar #bookmarks-dustbox:not([type="menu-button"]):not([disabled="true"]):hover:active,

#history-panel.insidebar #viewButton:not([type="menu-button"])[checked="true"], 
#downloadManager.insidebar #clearListButton:not([type="menu-button"])[checked="true"],
.insidebar #dmtTopToolBar button:not([type="menu-button"])[checked="true"],
#UpdateScan-window.insidebar button:not([type="menu-button"])[checked="true"],
#UpdateScan-window.insidebar toolbarbutton:not([type="menu-button"])[checked="true"],
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([type="menu-button"])[checked="true"],
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([type="menu-button"])[checked="true"],
.insidebar .toolbox-top #nav-bar #reload-button dropmarker:not([type="menu-button"])[checked="true"],
.insidebar .toolbox-top toolbarbutton#all-toggle:not([type="menu-button"])[checked="true"],
#JSConsoleWindow.insidebar toolbarbutton:not([type="menu-button"])[checked="true"],
#Console2Window.insidebar toolbarbutton:not([type="menu-button"])[checked="true"],
#stylish-manage-standalone.insidebar button:not([type="menu-button"])[checked="true"],
#stylish-manage-standalone.insidebar menulist:not([type="menu-button"])[checked="true"],
.insidebar #mbrInspectorMain > menu:not([type="menu-button"])[checked="true"],
.insidebar #tbInspectorPrimary toolbarbutton:not([type="menu-button"])[checked="true"],
.insidebar #bxPanelSet toolbarbutton:not([type="menu-button"])[checked="true"],
.omnisidebarURIBarMenu button:not([type="menu-button"])[checked="true"],
.sidebar-box:not([noTitleButton]) .sidebar-title:hover:not([type="menu-button"])[checked="true"],
.sidebar-box:not([noTitleButton]) .sidebar-title[active]:not([type="menu-button"])[checked="true"],
#addons-page.insidebar .header-button:not([type="menu-button"])[checked="true"],
#addons-page.insidebar .addon-control:not([type="menu-button"])[checked="true"],
#sbSimilarWebSidebar.insidebar #btnOptionsMenu:not([type="menu-button"])[checked="true"],
#sbSimilarWebSidebar.insidebar #btnShare:not([type="menu-button"])[checked="true"],
.insidebar #btnAddSite:not([type="menu-button"])[checked="true"]:after,
.insidebar #hideTabbarCheck:not([type="menu-button"])[checked="true"],
.insidebar #ybsidebar-tags-sort-menu:not([type="menu-button"])[checked="true"],
.insidebar #ybsidebar-bookmarks-sort-menu:not([type="menu-button"])[checked="true"],
.insidebar #bookmarks-dustbox:not([type="menu-button"])[checked="true"],

#history-panel.insidebar #viewButton[open="true"], 
#downloadManager.insidebar #clearListButton[open="true"],
.insidebar #dmtTopToolBar button[open="true"],
#UpdateScan-window.insidebar button[open="true"],
#UpdateScan-window.insidebar toolbarbutton[open="true"],
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[open="true"],
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton[open="true"],
.insidebar .toolbox-top #nav-bar #reload-button dropmarker[open="true"],
.insidebar .toolbox-top toolbarbutton#all-toggle[open="true"],
#JSConsoleWindow.insidebar toolbarbutton[open="true"],
#Console2Window.insidebar toolbarbutton[open="true"],
#stylish-manage-standalone.insidebar button[open="true"],
#stylish-manage-standalone.insidebar menulist[open="true"],
.insidebar #mbrInspectorMain > menu[open="true"],
.insidebar #tbInspectorPrimary toolbarbutton[open="true"],
.insidebar #bxPanelSet toolbarbutton[open="true"],
.omnisidebarURIBarMenu button[open="true"],
.sidebar-box:not([noTitleButton]) .sidebar-title:hover[open="true"],
.sidebar-box:not([noTitleButton]) .sidebar-title[active][open="true"],
#addons-page.insidebar .header-button[open="true"],
#addons-page.insidebar .addon-control[open="true"],
#sbSimilarWebSidebar.insidebar #btnOptionsMenu[open="true"],
#sbSimilarWebSidebar.insidebar #btnShare[open="true"],
.insidebar #btnAddSite[open="true"]:after,
.insidebar #hideTabbarCheck[open="true"],
.insidebar #ybsidebar-tags-sort-menu[open="true"],
.insidebar #ybsidebar-bookmarks-sort-menu[open="true"],
.insidebar #bookmarks-dustbox[open="true"] {
	background-color: transparent !important;
	border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5) !important;
	box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 0 0 2px rgba(0,0,0,.4) inset,  0 1px 0 rgba(200,200,200,.4) !important;
	text-shadow: none !important;
}

#history-panel.insidebar #viewButton[checked="true"]:not(:active):hover, 
#downloadManager.insidebar #clearListButton[checked="true"]:not(:active):hover,
.insidebar #dmtTopToolBar button[checked="true"]:not(:active):hover,
#UpdateScan-window.insidebar button[checked="true"]:not(:active):hover,
#UpdateScan-window.insidebar toolbarbutton[checked="true"]:not(:active):hover,
.insidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[checked="true"]:not(:active):hover,
.insidebar .toolbox-top #nav-bar #reload-button toolbarbutton[checked="true"]:not(:active):hover,
.insidebar .toolbox-top #nav-bar #reload-button dropmarker[checked="true"]:not(:active):hover,
.insidebar .toolbox-top toolbarbutton#all-toggle[checked="true"]:not(:active):hover,
#JSConsoleWindow.insidebar toolbarbutton[checked="true"]:not(:active):hover,
#Console2Window.insidebar toolbarbutton[checked="true"]:not(:active):hover,
#stylish-manage-standalone.insidebar button[checked="true"]:not(:active):hover,
#stylish-manage-standalone.insidebar menulist[checked="true"]:not(:active):hover,
.insidebar #mbrInspectorMain > menu[checked="true"]:not(:active):hover,
.insidebar #tbInspectorPrimary toolbarbutton[checked="true"]:not(:active):hover,
.insidebar #bxPanelSet toolbarbutton[checked="true"]:not(:active):hover,
.omnisidebarURIBarMenu button[checked="true"]:not(:active):hover,
.sidebar-box:not([noTitleButton]) .sidebar-title:hover[checked="true"]:not(:active),
.sidebar-box:not([noTitleButton]) .sidebar-title[active][checked="true"]:not(:active):hover,
#addons-page.insidebar .header-button[checked="true"]:not(:active):hover,
#addons-page.insidebar .addon-control[checked="true"]:not(:active):hover,
#sbSimilarWebSidebar.insidebar #btnOptionsMenu[checked="true"]:not(:active):hover,
#sbSimilarWebSidebar.insidebar #btnShare[checked="true"]:not(:active):hover,
.insidebar #btnAddSite[checked="true"]:not(:active):hover:after,
.insidebar #hideTabbarCheck[checked="true"]:not(:active):hover,
.insidebar #ybsidebar-tags-sort-menu[checked="true"]:not(:active):hover,
.insidebar #ybsidebar-bookmarks-sort-menu[checked="true"]:not(:active):hover,
.insidebar #bookmarks-dustbox[checked="true"]:not(:active):hover {
	background-color: rgba(90%,90%,90%,.4) !important;
	-moz-transition: background-color .4s !important;
}

.insidebar .toolbox-top #nav-bar > toolbarbutton#reload-button,
.insidebar .toolbox-top #nav-bar > toolbarbutton#reload-button:hover,
.insidebar .toolbox-top #nav-bar > toolbarbutton#reload-button:active,
.insidebar .toolbox-top #nav-bar > toolbarbutton#reload-button[checked="true"] {
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
	-moz-appearance: none !important;
	background: none !important;
	box-shadow: none !important;
}
.insidebar .toolbox-top #nav-bar > toolbarbutton#reload-button toolbarbutton {
	border-radius: 3.5px 0 0 3.5px !important;
	margin-right: 0 !important;
}
.insidebar .toolbox-top #nav-bar > toolbarbutton#reload-button dropmarker {
	border-radius: 0 3.5px 3.5px 0 !important;
	margin-left: -1px !important;
}