@import url("chrome://omnisidebar-os/skin/icons.css"); /* Buttons */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	/* Headers */
	/* Everything related to toolbarbuttons takes an !important tag */
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar .toolbarbutton-1 {
		-moz-appearance: toolbarbutton !important;
		margin: 0 2px 0 2px !important;
		padding: 1px 5px 1px 5px !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar .toolbarbutton-1[checked="true"],
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar .toolbarbutton-1:active {
		margin: 0 2px 0 2px !important;
		padding: 1px 5px 1px 5px !important; /* This !important is for some themes to dimension the button correctly */
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar .toolbarbutton-1 > .toolbarbutton-icon {
		max-width: 17px !important;
		max-height: 17px !important;
	}
	
	.omnisidebar-toolbar { 
		-moz-appearance: none !important; /* without !important the changes won't take effect */
		border: none !important;
		padding: 1px 3px;
	}
	#main-window[sizemode="fullscreen"] .omnisidebar-toolbar { 
		visibility: visible; 
	}
	
	/* Australis showed these, at least for a while. We don't really want these, ever */
	.omnisidebar-toolbar .toolbarbutton-1 > .toolbarbutton-text {
		display: none;
	}
	
	.sidebar-header {
		max-height: none !important;
		padding: 0;
		overflow: hidden;
	}
	.sidebar-box[noclose] .sidebar-header {
		-moz-padding-end: 3px;
	}
	
	/* Hide a bunch of stuff */
	#sidebar-throbber, /* I still don't know why this exists, but I added one to the twin as well since I ended up using it as a xul reference point in overlays */
	#omnisidebar-sidebar-throbber-twin,
	.sidebar-box[notitle] .sidebar-title,
	.sidebar-box[noclose] .sidebar-header > toolbarbutton.tabs-closebutton, /* FF30- */
	.sidebar-box[noclose] .sidebar-header > toolbarbutton.close-icon, /* FF31+, confirm later to be sure */
	.sidebar-box[customizing] .sidebar-title, /* FF30- */
	.sidebar-box[customizing] .sidebar-header > toolbarbutton.tabs-closebutton, /* FF30- */
	.omnisidebar-toolbar toolbarbutton[disabled] {
		display: none !important;
	}
	
	.sidebar-box:not([notitle]):not([customizing]) .header-spacer,
	.sidebar-box[customizing] .header-spacer {
		display: none;
	}
	.sidebar-box[notitle]:not([customizing]) .header-spacer {
		display: -moz-box;
	}
	.sidebar-box .sidebar-title {
		text-align: center;
		padding: 0 !important;
		margin: 1px 3px !important;
	}
	
	#omnisidebar-sidebar-customizingLabel,
	#omnisidebar-sidebar-customizingLabel-twin {
		text-align: right;
		margin: 5px 5px 0 5px !important;
	}
	
	.sidebar-box:not([customizing]) .stackSidebar {
		display: -moz-box;
	}
	
	/* Sidebar size, position and animation */
	.sidebar-box[customizing],
	.sidebar-box[customizing][hidden="true"] {
		-moz-appearance: none;
		position: fixed;
		overflow: visible !important;
		/* Compatibility with Memory Fox: !important tag in the overflow property, already talked to the developer and he will fix it in his extension himself in future versions
		so this is just for compatibility with past versions, maybe I will remove it in the future since those versions don't even seem to be available anyway
		for now I'll leave it because the latest version still has the issue;
		tried to conditionally set it via javascript but I couldn't get it to detect memory fox and still apply the change */
		background: none;
	}
	
	.sidebar-box[customizing],
	.sidebar-box[customizing][hidden="true"] {
		display: -moz-box;
	}
	#sidebar-box[customizing]:not([renderabove]):-moz-locale-dir(ltr):not([movetoright]),
	#omnisidebar-sidebar-box-twin[customizing]:not([renderabove]):-moz-locale-dir(ltr)[movetoleft],
	#sidebar-box[customizing]:not([renderabove]):-moz-locale-dir(rtl)[movetoright],
	#omnisidebar-sidebar-box-twin[customizing]:not([renderabove]):-moz-locale-dir(rtl):not([movetoleft]) {
		left: 0px;
	}
	#sidebar-box[customizing]:not([renderabove]):-moz-locale-dir(ltr)[movetoright],
	#omnisidebar-sidebar-box-twin[customizing]:not([renderabove]):-moz-locale-dir(ltr):not([movetoleft]),
	#sidebar-box[customizing]:not([renderabove]):-moz-locale-dir(rtl):not([movetoright]),
	#omnisidebar-sidebar-box-twin[customizing]:not([renderabove]):-moz-locale-dir(rtl)[movetoleft] {
		right: 0px;
	}
	
	.sidebar-box[customizing] .sidebar-header,
	.sidebar-box[customizing] .omnisidebar-toolbar {
		display: -moz-box;
		visibility: visible;
	}
	.sidebar-box[customizing] .sidebar-browser {
		display: none;
	}
	
	/* Australis customize dialog */
	#omnisidebar-toolbarCustomizeWrapper {
		margin: 15px;
	}
	
	#omnisidebar-toolbarCustomizeWrapper stack {
		border: 1px solid rgba(0,0,0,.3);
		box-shadow: 0 0 4px rgba(0,0,0,.3);
		background: rgba(250, 250, 250, 0.8);
	}
	
	/* Tricks needed */
	.sidebar-header,
	.sidebar-browser,
	.omnisidebar-toolbar {
		width: 100%;
		max-width: none;
		min-width: 0;
		height: 100% !important;
	}
	
	.sidebar-browser { background-color: window; }
	
	.sidebar-header { min-height: 29px; } /* trying to keep it from jumping around when customizing the toolbar or toying with the other options */
	.omnisidebar-toolbar { min-height: 28px !important; } /* this won't stick without the !important tag */
	
}
