@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	.sidebar-title[TitleButton]:hover,
	.sidebar-title[TitleButton][active] {
		-moz-appearance: menulist;
	}
	
	.sidebar-title,
	.sidebar-title:hover,
	.sidebar-title[active] {
		border: 3px solid rgba(0,0,0,0) !important;
	}
	
	/* toolbarbuttons in panels only have a :hover state, we need our own state for keyboard navigation,
	damn thing needs !important tag, couldn't get its specificity... */
	.omnisidebar-panel toolbarbutton.subviewbutton:not([disabled]):not([open]):not(:active):not(:hover)[hover] {
		background-color: hsla(210,4%,10%,.08) !important;
		border-color: hsla(210,4%,10%,.11) !important;
	}
	
	/* don't show hover style in the arrow buttons of the panelview */
	#omnisidebar-panelView-toolbarContainer autorepeatbutton {
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
}
