@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#back-strip {
		position: relative;
		z-index: 2000;
		opacity: 0.01;
	}
	
}
