@import url("chrome://omnisidebar-os/skin/os.css");

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Tricks needed */
	
	/* prevent showing the full firefox iconset on the buttons before the stylsheet with their actual images loads */
	#omnisidebar-button:not([loaded]) .toolbarbutton-icon,
	#omnisidebar-button-twin:not([loaded]) .toolbarbutton-icon {
		height: 0px !important;
	}
	
	/* On custom themes without a default icon to load for every toolbar button, the button would never be actually loaded, thus not triggering its onload attribute */
	#omnisidebar-button:not([loaded]),
	#omnisidebar-button-twin:not([loaded]) {
		list-style-image: url("chrome://omnisidebar-os/skin/osb-button-toolbar-left.png");
	}
	
	.omnisidebar_switch {
		position: fixed;
		background: none;
		height: 100%;
		z-index: 20;
	}
	
	.omnisidebar_switch[enabled][scrolling] {
		pointer-events: none;
	}
	
	.omnisidebar_switch[enabled]:hover {
		box-shadow: 0 0 6px rgba(5, 114, 193, 1);
		background: rgba(40, 143, 252, 0.7);
		cursor: pointer;
	}
	
	.omnisidebar_switch[enabled]:hover {
		transition: background .1s, box-shadow .18s;
	}
	.omnisidebar_switch[enabled]:not(:hover) {
		transition: background .2s, box-shadow .25s;
	}
	
	/* hide the sidebars when in DomFullScreen mode (HTML5) */
	window[inDOMFullscreen] .sidebar-box,
	window[inDOMFullscreen] .sidebar-splitter,
	window[inDOMFullscreen] .omnisidebar_switch {
		visibility: collapse !important;
	}
	
	/* hide the social sidebar, since we use our own for it */
	#social-sidebar-box,
	#social-sidebar-splitter,
	.social-toggle-sidebar-menuitem {
		visibility: collapse !important;
	}
	
	.sidebar-header #social-sidebar-button {
		-moz-margin-start: 0;
		-moz-margin-end: 0;
		-moz-padding-start: 2px;
		-moz-padding-end: 4px;
	}
	
}
