@import url("chrome://omnisidebar-os/skin/os.css");

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Tricks needed */
	/* prevent showing the full firefox iconset on the buttons before the stylsheet with their actual images loads */
	#omnisidebar_button:not([loaded]) .toolbarbutton-icon,
	#omnisidebar_button-twin:not([loaded]) .toolbarbutton-icon {
		height: 0px !important;
	}
	
	.omnisidebar_switch {
		position: fixed;
		background: none;
		height: 100%;
		z-index: 3;
	}
	
}
