/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("about:addons") {

	/* For compatibility with Preferences Monitor add-on */

	.inSidebar setting[spec="preferencesmonitor"] {
		position: static !important;
		margin-top: auto !important;
		margin-bottom: auto !important;
		clip: unset !important;
		background: -moz-radial-gradient(circle, rgba(190,190,170,0.4), transparent) !important;
		font: bold 14px serif !important;
		letter-spacing: 0.2em !important;
		text-transform: uppercase !important;
	}

	.inSidebar setting[spec="preferencesmonitor"]:before,
	.inSidebar setting[spec="preferencesmonitor"] .preferences-learnmore {
		display: none !important;
	}

}
