/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/devtools/scratchpad.xul"), url("chrome://devtools/content/scratchpad/scratchpad.xul") {

	/* it's not like this works anyway */
	.inSidebar #sp-menu-close {
		display: none;
	}

	.inSidebar .devtools-toolbarbutton {
		min-width: 0 !important;
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

}
