@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul"), url("chrome://global/content/customizeToolbar.xul") {
	/* Linux Icon Set */
	
	/* Set default FF4 icons */
	window:not([omnisidebar_Australis]) #omnisidebar-addons_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(0px 24px 24px 0px) !important;
	}
	window:not([omnisidebar_Australis]) #stylish_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(0px 48px 24px 24px) !important;
	}
	
	window:not([omnisidebar_Australis]) #omnisidebar-console_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(0px 24px 24px 0px) !important;
	}
	window:not([omnisidebar_Australis]) #omnisidebar-dominspector_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(0px 48px 24px 24px) !important;
	}
	window:not([omnisidebar_Australis]) #omnisidebar-scratchpad_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(0px 96px 24px 72px) !important;
	}
	window:not([omnisidebar_Australis]) .uri-sidebar-button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(0px 72px 24px 48px) !important;
	}

}
