@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Bugfix: transparent header when undocked using personas */
	.sidebar-box[renderabove]:not([glassStyle]) .sidebar-header:-moz-lwtheme {
		background-color: -moz-dialog !important;
		color: -moz-dialogtext;
		text-shadow: none;
	}
	
	.sidebar-box:not([glassStyle]) .sidebar-title[TitleButton]:not(:hover) {
		border: 5px solid rgba(0,0,0,0);
	}
	
	.sidebar-box[glassStyle] .sidebar-title[TitleButton]:not(:hover) {
		border: 2px solid rgba(0,0,0,0);
	}
	
	.sidebar-box:not([glassStyle]) .sidebar-title[TitleButton]:hover,
	.sidebar-box:not([glassStyle]) .sidebar-title[TitleButton][active] {
		-moz-padding-start: 17px;
	}
	
	#nav-bar #nav-bar-customization-target .osb-adequate-size > .toolbarbutton-icon { padding: 2px 6px; }

}
