@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Bugfix: transparent header when undocked using personas,
	I can't override these without the !important tags */
	.sidebar-box[renderabove]:not([glassStyle]) .sidebar-header:-moz-lwtheme {
		background-color: -moz-Dialog !important;
	}
	
	.sidebar-box:not([glassStyle]) .sidebar-title[TitleButton]:not(:hover) {
		border: 5px solid rgba(0,0,0,0) !important;
	}
	
	.sidebar-box[glassStyle] .sidebar-title[TitleButton]:not(:hover) {
		border: 2px solid rgba(0,0,0,0) !important;
	}
	
	.sidebar-box:not([glassStyle]) .sidebar-title[TitleButton]:hover,
	.sidebar-box:not([glassStyle]) .sidebar-title[TitleButton][active] {
		-moz-padding-start: 17px !important;
	}
	
	window:not([omnisidebar_Australis]) #navigator-toolbox[iconsize=large][mode=icons] > :not(#TabsToolbar):not(.omnisidebar-toolbar) > .adequate-size > .toolbarbutton-icon { padding: 0 !important; }

	window:not([omnisidebar_Australis]) #navigator-toolbox[iconsize=small][mode=full] > :not(#TabsToolbar):not(.omnisidebar-toolbar) > .adequate-size > .toolbarbutton-icon {
		width: 16px !important;
		height: 16px !important;
	}
	
	window:not([omnisidebar_Australis]) #navigator-toolbox[iconsize=large][mode=full] > :not(#TabsToolbar):not(.omnisidebar-toolbar) > .adequate-size > .toolbarbutton-icon {
		height: 24px !important;
	}

}
