@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	.omnisidebar-docker label {
		display: none;
	}
	
	#nav-bar-customization-target > .adequate-size > .toolbarbutton-icon { margin: 0 !important; }
	
	.sidebar-title[TitleButton]:hover,
	.sidebar-title[TitleButton][active] {
		padding-top: 2px !important;
		-moz-padding-start: 17px !important;
	}
	
	/* OSB Button */
	
	.sidebarController:not([cui-areatype="menu-panel"]):not([updscannew]):not([feednew]):hover { -moz-image-region: rect(18px 18px 36px 0px); }
	.sidebarController:not([cui-areatype="menu-panel"])[updscannew]:not([feednew]):hover { -moz-image-region: rect(18px 36px 36px 18px); }
	.sidebarController:not([cui-areatype="menu-panel"]):not([updscannew])[feednew]:hover { -moz-image-region: rect(18px 54px 36px 36px); }
	.sidebarController:not([cui-areatype="menu-panel"])[updscannew][feednew]:hover { -moz-image-region: rect(18px 72px 36px 54px); }
	
	toolbarpaletteitem[place="palette"] .sidebarController:not([updscannew]):not([feednew]):hover { -moz-image-region: rect(0px 32px 32px 0px); }
	
	/* Custom Buttons */
	
	#omnisidebar-console_sidebar_button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 126px 36px 108px); }
	#omnisidebar-dominspector_sidebar_button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 144px 36px 126px); }
	.uri-sidebar-button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 162px 36px 144px); }
	#omnisidebar-scratchpad_sidebar_button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 180px 36px 162px); }
	
	.omnisidebar-toolbar[coloricons="color"] #omnisidebar-console_sidebar_button:hover { -moz-image-region: rect(0px 126px 18px 108px); }
	.omnisidebar-toolbar[coloricons="color"] #omnisidebar-dominspector_sidebar_button:hover { -moz-image-region: rect(0px 144px 18px 126px); }
	.omnisidebar-toolbar[coloricons="color"] .uri-sidebar-button:hover { -moz-image-region: rect(0px 162px 18px 144px); }
	.omnisidebar-toolbar[coloricons="color"] #omnisidebar-scratchpad_sidebar_button:hover { -moz-image-region: rect(0px 180px 18px 162px); }
	
	toolbarpaletteitem[place="palette"] #omnisidebar-console_sidebar_button:hover { -moz-image-region: rect(0px 126px 18px 108px); }
	toolbarpaletteitem[place="palette"] #omnisidebar-dominspector_sidebar_button:hover { -moz-image-region: rect(0px 144px 18px 126px); }
	toolbarpaletteitem[place="palette"] .uri-sidebar-button:hover { -moz-image-region: rect(0px 162px 18px 144px); }
	toolbarpaletteitem[place="palette"] #omnisidebar-scratchpad_sidebar_button:hover { -moz-image-region: rect(0px 180px 18px 162px); }
	
	/* Replace Buttons */
	
	#omnisidebar-addons_sidebar_button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 216px 36px 198px); }
	.omnisidebar-toolbar[coloricons="color"] #omnisidebar-addons_sidebar_button:hover { -moz-image-region: rect(0px 72px 18px 54px); }
	toolbarpaletteitem[place="palette"] #omnisidebar-addons_sidebar_button:hover { -moz-image-region: rect(0px 288px 32px 256px); }
	
	#omnisidebar-bookmarks_sidebar_button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 144px 36px 126px); }
	.omnisidebar-toolbar[coloricons="color"] #omnisidebar-bookmarks_sidebar_button:hover { -moz-image-region: rect(0px 18px 18px 0px); }
	toolbarpaletteitem[place="palette"] > #omnisidebar-bookmarks_sidebar_button:hover { -moz-image-region: rect(0px 160px 32px 128px); }
	
	#omnisidebar-history_sidebar_button:not([cui-areatype="menu-panel"]):hover { -moz-image-region: rect(18px 180px 36px 162px); }
	.omnisidebar-toolbar[coloricons="color"] #omnisidebar-history_sidebar_button:hover { -moz-image-region: rect(0px 36px 18px 18px); }
	toolbarpaletteitem[place="palette"] > #omnisidebar-history_sidebar_button:hover { -moz-image-region: rect(0px 224px 32px 192px); }
	
	/* Buttons from other add-ons */
	
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button {
		list-style-image: url(chrome://omnisidebar-os/skin/feed.png);
		-moz-image-region: rect(0px, 24px, 24px, 0px);
	}
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button:hover:active, 
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button:hover,
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[checked="true"]:hover:active, 
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[checked="true"]:hover {
		-moz-image-region: rect(48px, 24px, 72px, 0px);
	}
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[new="true"] {
		-moz-image-region: rect(24px, 24px, 48px, 0px);
	}
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[new="true"]:hover,
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[new="true"]:active,
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[new="true"][checked="true"] {
		-moz-image-region: rect(72px, 24px, 96px, 0px);
	}
	.omnisidebar-toolbar[coloricons="color"] #feedbar-button[checked="true"] {
		-moz-image-region: rect(0px, 24px, 24px, 0px);
	}

}

@-moz-document url("about:addons") {
	
	#addons-page.inSidebar:not(.glassStyle) {
		background: none !important;
	}

}

@-moz-document	url("chrome://browser/content/devtools/webconsole.xul"),
		url("chrome://browser/content/places/places.xul") {
	
	.inSidebar:not(.glassStyle) #downloadsRichListBox,
	#devtools-webconsole.inSidebar:not(.glassStyle) .devtools-toolbar {
		background: #e2e7ed !important;
	}
	
	.inSidebar:not(.glassStyle) #downloadsRichListBox:-moz-window-inactive,
	#devtools-webconsole.inSidebar:not(.glassStyle) .devtools-toolbar:-moz-window-inactive {
		background: #e8e8e8 !important;
	}
	
	#places.inSidebar,
	.inSidebar #placesToolbar {
		-moz-appearance: none !important;
		background: none !important;
	}
	
	.inSidebar:not(.glassStyle) #downloadsRichListBox {
		border: 1px solid #bdbdbd !important;
	}
	
	.inSidebar:not(.glassStyle) #downloadsRichListBox richlistitem[selected] {
		font-weight: bold !important;
		color: #ffffff !important;
		background: linear-gradient(#A0B0CF, #7386AB) repeat-x !important;
		border-top: 1px solid #94A1C0 !important;
	}
	.inSidebar:not(.glassStyle) #downloadsRichListBox:focus richlistitem[selected] {
		background: linear-gradient(#6494D4, #2559AC) repeat-x !important;
		border-top: 1px solid #5382C5 !important;
	}
	
	.inSidebar:not(.glassStyle) #downloadsRichListBox richlistitem[selected]:-moz-system-metric(mac-graphite-theme) {
		background: linear-gradient(#AAB7C4, #8393A4) repeat-x !important;
		border-top: 1px solid #97A4B1 !important;
	}
	.inSidebar:not(.glassStyle) #downloadsRichListBox:focus richlistitem[selected]:-moz-system-metric(mac-graphite-theme) {
		background: linear-gradient(#8293A6, #425972) repeat-x !important;
		border-top: 1px solid #6B798D !important;
	}

}
