@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Search boxes */

.omnisidebarURIBarMenu textbox,
.inSidebar #search-box,
#downloadManager.inSidebar #searchbox,
.inSidebar #navigator-toolbox #search-box,
.inSidebar #header-search,
.inSidebar #search-box #TextboxFilter,
.inSidebar #TextboxEval,
.inSidebar #styles-filter,
.inSidebar #tfURLBar,
.inSidebar #searchFilter {
	-moz-appearance: none !important;
	background: rgba(135,135,135,.5) !important;
	border: 0 !important;
	border-radius: 5px !important;
	height: 20px !important;
	color: black !important;
	text-shadow: white 0 0 6px, white 0 0 6px, rgba(255, 255, 255, .3) 0 1px 0 !important;
	outline-width: 0 !important;
}

.inSidebar #sidebar-search-label,
.inSidebar #dmtTopToolBox,
.inSidebar #dmtDownloadFrom,
.inSidebar #dmtDownloadTo,
.inSidebar #dmtDownloadDate,
.inSidebar #feedbar-preview,
.inSidebar #StatusText,
.inSidebar #feed-sidebar-statusbar,
.inSidebar #updates-container,
.inSidebar richlistbox:last-child:after,
.inSidebar #userstyles-heading,
.inSidebar domi-panel label.viewer-title,
.inSidebar #bookmarks-content-label {
	color: black !important;
	text-shadow: white 0 0 6px, white 0 0 6px, rgba(255, 255, 255, .3) 0 1px 0 !important;
}


/* Backgrounds and dimensions */

.inSidebar {
	-moz-appearance: none !important;
	background: none !important;
	padding: 8px !important;
}

.inSidebar #bookmarks-view,
.inSidebar #historyTree,
.inSidebar #downloadView,
.inSidebar #placesView,
.inSidebar #updatescan-bookmarks-view,
.inSidebar #sidebar-notify #feed_tree,
.inSidebar #bookmarks-content-box {
	margin: 7px !important;
}

.inSidebar #bookmarks-view,
.inSidebar #historyTree,
.inSidebar #downloadView,
.inSidebar #placesView,
.inSidebar #updatescan-bookmarks-view,
.inSidebar #sidebar-notify #feed_tree,
#addons-page.inSidebar .main-content,
.inSidebar #styles,
.inSidebar #bookmarks-content-box,
.inSidebar #placesView,
.inSidebar #RIL_sidebar {
	-moz-appearance: none !important;
	border: 1px solid rgb(174, 183, 196) !important;
	border-radius: 5px !important;
	background: rgba(255, 255, 255, 0.65) linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.5)) repeat scroll 0% 0% !important;
}


/* Tooltips */

.inSidebar tooltip {
	-moz-appearance: tooltip !important;
	background: rgba(255,255,255,.8) !important;
	color: black !important;
	text-shadow: white 0.3px 0.3px 0.3px !important;
	border-radius: 1px !important;
}


/* Tree text format */

.inSidebar .sidebar-placesTree,
.inSidebar #feedbar_tree_container {
	border: 0 !important;
	margin-top: 3px !important;
}

.inSidebar .sidebar-placesTreechildren::-moz-tree-row,
.inSidebar #feedbar_tree_container::-moz-tree-row {
	border: 0 !important;
}

.inSidebar .sidebar-placesTreechildren::-moz-tree-row(selected),
.inSidebar .sidebar-placesTreechildren::-moz-tree-row(hover),
.inSidebar #feedbar_tree_container::-moz-tree-row(hover),
.inSidebar #feedbar_tree_container::-moz-tree-row(selected),
.inSidebar #feedbar_tree_container::-moz-tree-cell(selected),
.inSidebar #downloadView > richlistitem[selected=true],
.inSidebar #downloadView > richlistitem:hover,
.inSidebar .view-pane richlistitem:hover,
.inSidebar .view-pane richlistitem[selected="true"],
.inSidebar #styles richlistitem:hover,
.inSidebar #styles richlistitem[selected="true"],
.inSidebar #places-content-view treechildren::-moz-tree-row(selected),
.inSidebar #places-content-view treechildren::-moz-tree-row(hover),
.inSidebar #downloadsRichListBox richlistitem:hover,
.inSidebar #downloadsRichListBox richlistitem[selected="true"],

.inSidebar .RIL_row:hover {
	color: black !important;
	background: rgba(255,255,255,.5) !important;
	outline: none !important;
}

.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(container),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(container),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(container) {
	font-weight: bold !important;
}

.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(container, open),
.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(container, open, selected),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(container, open),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(container, open, selected),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(container, open),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(container, open, selected),

.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(container),
.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(container, hover),
.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(leaf),
.inSidebar .sidebar-placesTreechildren::-moz-tree-cell-text(leaf, hover),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(container),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(container, hover),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(leaf),
.inSidebar #feedbar_tree_container::-moz-tree-cell-text(leaf, hover),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(container),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(container, hover),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(leaf),
.inSidebar #places-content-view treechildren::-moz-tree-cell-text(leaf, hover),

.inSidebar #downloadsRichListBox richlistitem,
.inSidebar #downloadView > richlistitem {
	color: black !important;
	border-radius: 0 !important;
}

.inSidebar #bookmarks-view-children::-moz-tree-separator,
.inSidebar .sidebar-placesTreechildren::-moz-tree-separator,
.inSidebar #feedbar_tree_container::-moz-tree-separator,
.inSidebar #places-content-view treechildren::-moz-tree-separator {
	border-top: 1px solid rgb(174, 183, 196) !important;
	border-bottom: none !important;
}

.inSidebar #downloadView richlistitem:not(:first-child),
.inSidebar .view-pane richlistitem:not(:first-child),
.inSidebar #styles richlistitem:not(:first-child),
.inSidebar #downloadsRichListBox richlistitem:not(:first-child) {
	-moz-border-top-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1) !important;
	-moz-border-bottom-colors: rgba(255, 255, 255, 0.1) !important;
	border-top-width: 2px !important;
	border-bottom-width: 1px !important;
	border-top-style: solid !important;
	border-bottom-style: solid !important;
}

.inSidebar #downloadView richlistitem:first-child,
.inSidebar .view-pane richlistitem:first-child,
.inSidebar #styles richlistitem:first-child,
.inSidebar #downloadsRichListBox richlistitem:first-child {
	-moz-border-top-colors: rgba(255, 255, 255, 0.1) !important;
	-moz-border-bottom-colors: rgba(255, 255, 255, 0.1) !important;
	border-top-width: 1px !important;
	border-bottom-width: 1px !important;
	border-top-style: solid !important;
	border-bottom-style: solid !important;
}

/* Other stuff */

.inSidebar toolbox,
.inSidebar toolbar:not(#sp-toolbar):not(.devtools-toolbar) {
	-moz-appearance: none !important;
	background: rgba(0, 0, 0, 0) !important;
	margin: 0 !important;
	border: none !important;
}
