@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://ybookmarks/content/ybsidebar.xul") {
	
	.inSidebar .ybsidebar-tree-container splitter {
		background: rgba(255,255,255,.5) !important;
		height: 3px !important;
		min-height: 1px !important;
		margin-top: 5px !important;
	}

}
