@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/devtools/scratchpad.xul") {
	
	.inSidebar #sp-menubar {
		-moz-appearance: none !important;
	}
	
	.inSidebar .devtools-side-splitter {
		-moz-margin-end: -2px !important;
	}
	
	.inSidebar #sp-toolbar {
		border-top: 1px solid black !important;
		border-left: 1px solid black !important;
		border-right: 1px solid black !important;
		border-bottom: none !important;
	}
	
	.inSidebar #scratchpad-editor {
		-moz-border-start: 1px solid black !important;
		border-top: 1px solid black !important;
		border-bottom: 1px solid black !important;
	}
	
	.inSidebar #scratchpad-sidebar {
		-moz-border-end: 1px solid black !important;
		border-bottom: 1px solid black !important;
	}
	
}
