@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://global/content/console.xul"), url("chrome://console2/content/console2.xul") {
	
	#Console2Window.inSidebar #search-box {
		background: rgba(0, 0, 0, 0) !important;
	}
	
	.inSidebar #ConsoleBox {
		margin-top: 7px !important;
	}
	
	.inSidebar #ConsoleToolbox > * {
		padding: 3px 0 !important;
	}
	
	.inSidebar #ConsoleToolbox toolbarbutton {
		padding: 1px 5px 1px 5px !important;
	}
	
	.inSidebar #ConsoleToolbox #ToolbarMode toolbarbutton image {
		margin: 1px 0 1px 0 !important;
	}
	
	#JSConsoleWindow.inSidebar #console-toolbox toolbarbutton {
		margin: 1px !important;
		padding: 1px 0px 1px 4px !important;
	}

}
