@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* NavBar button effect */
#history-panel.inSidebar #viewButton, 
#downloadManager.inSidebar #clearListButton,
.inSidebar #dmtTopToolBar button,
#UpdateScan-window.inSidebar button,
#UpdateScan-window.inSidebar toolbarbutton,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button),
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker,
.inSidebar .toolbox-top toolbarbutton#all-toggle,
#JSConsoleWindow.inSidebar toolbarbutton,
#Console2Window.inSidebar toolbarbutton,
#stylish-manage-standalone.inSidebar button,
#stylish-manage-standalone.inSidebar menulist,
.inSidebar #mbrInspectorMain > menu,
.inSidebar #tbInspectorPrimary toolbarbutton,
.inSidebar #bxPanelSet toolbarbutton,
.omnisidebarURIBarMenu button,
.sidebar-title[TitleButton]:hover,
.sidebar-title[TitleButton][active],
#addons-page.inSidebar .header-button,
#addons-page.inSidebar .addon-control,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu,
#sbSimilarWebSidebar.inSidebar #btnShare,
.inSidebar #btnAddSite:after,
.inSidebar #hideTabbarCheck,
.inSidebar #ybsidebar-tags-sort-menu,
.inSidebar #ybsidebar-bookmarks-sort-menu,
.inSidebar #bookmarks-dustbox,
.inSidebar #RIL_sort,
.inSidebar #RIL_listPage {
	-moz-appearance: none !important;
	opacity: 1 !important;
	background-clip: padding-box !important;
	border: 1px solid !important;
	border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
	border-radius: 3.5px !important;
	padding: 1px 5px !important;
	margin: 1px 3px !important;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset !important;
  	color: black !important;
 	text-shadow: 0 0 2px white !important;
	background: rgba(151, 152, 153, 0.05) -moz-linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%, rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3)) repeat scroll 0% 0% !important;
	background: rgba(151, 152, 153, 0.05) linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%, rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3)) repeat scroll 0% 0% !important; /* Firefox 16+ */
}

.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	padding-left: 3px !important;
	padding-right: 3px !important;
	-moz-border-start-style: none !important;
}

#history-panel.inSidebar #viewButton[disabled="true"], 
#downloadManager.inSidebar #clearListButton[disabled="true"],
.inSidebar #dmtTopToolBar button[disabled="true"],
#UpdateScan-window.inSidebar button[disabled="true"],
#UpdateScan-window.inSidebar toolbarbutton[disabled="true"],
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[disabled="true"],
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton[disabled="true"],
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker[disabled="true"],
.inSidebar .toolbox-top toolbarbutton#all-toggle[disabled="true"],
#JSConsoleWindow.inSidebar toolbarbutton[disabled="true"],
#Console2Window.inSidebar toolbarbutton[disabled="true"],
#stylish-manage-standalone.inSidebar button[disabled="true"],
#stylish-manage-standalone.inSidebar menulist[disabled="true"],
.inSidebar #mbrInspectorMain > menu[disabled="true"],
.inSidebar #tbInspectorPrimary toolbarbutton[disabled="true"],
.inSidebar #bxPanelSet toolbarbutton[disabled="true"],
.omnisidebarURIBarMenu button[disabled="true"],
.sidebar-title[TitleButton]:hover[disabled="true"],
.sidebar-title[TitleButton][active][disabled="true"],
#addons-page.inSidebar .header-button[disabled="true"],
#addons-page.inSidebar .addon-control[disabled="true"],
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu[disabled="true"],
#sbSimilarWebSidebar.inSidebar #btnShare[disabled="true"],
.inSidebar #btnAddSite[disabled="true"]:after,
.inSidebar #hideTabbarCheck[disabled="true"],
.inSidebar #ybsidebar-tags-sort-menu[disabled="true"],
.inSidebar #ybsidebar-bookmarks-sort-menu[disabled="true"],
.inSidebar #bookmarks-dustbox[disabled="true"],
.inSidebar #RIL_sort[disabled="true"],
.inSidebar #RIL_listPage[disabled="true"] {
	opacity: .8;
}

#history-panel.inSidebar #viewButton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon, 
#downloadManager.inSidebar #clearListButton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #dmtTopToolBar button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#UpdateScan-window.inSidebar button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#UpdateScan-window.inSidebar toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar .toolbox-top toolbarbutton#all-toggle[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#JSConsoleWindow.inSidebar toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#Console2Window.inSidebar toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#stylish-manage-standalone.inSidebar button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#stylish-manage-standalone.inSidebar menulist[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #mbrInspectorMain > menu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #tbInspectorPrimary toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #bxPanelSet toolbarbutton[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.omnisidebarURIBarMenu button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.sidebar-title[TitleButton]:hover[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.sidebar-title[TitleButton][active][disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#addons-page.inSidebar .header-button[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#addons-page.inSidebar .addon-control[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#sbSimilarWebSidebar.inSidebar #btnShare[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #hideTabbarCheck[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #ybsidebar-tags-sort-menu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #ybsidebar-bookmarks-sort-menu[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #bookmarks-dustbox[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #RIL_sort[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.inSidebar #RIL_listPage[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,

#history-panel.inSidebar #viewButton[disabled="true"] > .toolbarbutton-icon, 
#downloadManager.inSidebar #clearListButton[disabled="true"] > .toolbarbutton-icon,
.inSidebar #dmtTopToolBar button[disabled="true"] > .toolbarbutton-icon,
#UpdateScan-window.inSidebar button > .toolbarbutton-icon,
#UpdateScan-window.inSidebar toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[disabled="true"] > .toolbarbutton-icon,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker[disabled="true"] > .toolbarbutton-icon,
.inSidebar .toolbox-top toolbarbutton#all-toggle[disabled="true"] > .toolbarbutton-icon,
#JSConsoleWindow.inSidebar toolbarbutton[disabled="true"] > .toolbarbutton-icon,
#Console2Window.inSidebar toolbarbutton[disabled="true"] > .toolbarbutton-icon,
#stylish-manage-standalone.inSidebar button[disabled="true"] > .toolbarbutton-icon,
#stylish-manage-standalone.inSidebar menulist[disabled="true"] > .toolbarbutton-icon,
.inSidebar #mbrInspectorMain > menu[disabled="true"] > .toolbarbutton-icon,
.inSidebar #tbInspectorPrimary toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.inSidebar #bxPanelSet toolbarbutton[disabled="true"] > .toolbarbutton-icon,
.omnisidebarURIBarMenu button[disabled="true"] > .toolbarbutton-icon,
.sidebar-title[TitleButton]:hover[disabled="true"] > .toolbarbutton-icon,
.sidebar-title[TitleButton][active][disabled="true"] > .toolbarbutton-icon,
#addons-page.inSidebar .header-button[disabled="true"] > .toolbarbutton-icon,
#addons-page.inSidebar .addon-control[disabled="true"] > .toolbarbutton-icon,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu[disabled="true"] > .toolbarbutton-icon,
#sbSimilarWebSidebar.inSidebar #btnShare[disabled="true"] > .toolbarbutton-icon,
.inSidebar #hideTabbarCheck[disabled="true"] > .toolbarbutton-icon,
.inSidebar #ybsidebar-tags-sort-menu[disabled="true"] > .toolbarbutton-icon,
.inSidebar #ybsidebar-bookmarks-sort-menu[disabled="true"] > .toolbarbutton-icon,
.inSidebar #bookmarks-dustbox[disabled="true"] > .toolbarbutton-icon,
.inSidebar #RIL_sort[disabled="true"] > .toolbarbutton-icon,
.inSidebar #RIL_listPage[disabled="true"] > .toolbarbutton-icon {
	opacity: .5;
}

.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.omnisidebar-toolbar[alternatebtns] .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,

#history-panel.inSidebar #viewButton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover, 
#downloadManager.inSidebar #clearListButton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #dmtTopToolBar button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#UpdateScan-window.inSidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#UpdateScan-window.inSidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button) > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar .toolbox-top toolbarbutton#all-toggle > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#JSConsoleWindow.inSidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#Console2Window.inSidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#stylish-manage-standalone.inSidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#stylish-manage-standalone.inSidebar menulist > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #mbrInspectorMain > menu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #tbInspectorPrimary toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #bxPanelSet toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.omnisidebarURIBarMenu button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#addons-page.inSidebar .header-button > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#addons-page.inSidebar .addon-control > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
#sbSimilarWebSidebar.inSidebar #btnShare > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #hideTabbarCheck > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #ybsidebar-tags-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #ybsidebar-bookmarks-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #bookmarks-dustbox > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #RIL_sort > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.inSidebar #RIL_listPage > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,

#history-panel.inSidebar #viewButton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]), 
#downloadManager.inSidebar #clearListButton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #dmtTopToolBar button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.inSidebar button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.inSidebar toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top toolbarbutton#all-toggle:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#JSConsoleWindow.inSidebar toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#Console2Window.inSidebar toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.inSidebar button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.inSidebar menulist:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #mbrInspectorMain > menu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #tbInspectorPrimary toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #bxPanelSet toolbarbutton:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.omnisidebarURIBarMenu button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.inSidebar .header-button:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.inSidebar .addon-control:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.inSidebar #btnShare:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #hideTabbarCheck:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #ybsidebar-tags-sort-menu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #ybsidebar-bookmarks-sort-menu:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #bookmarks-dustbox:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #RIL_sort:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #RIL_listPage:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),

#history-panel.inSidebar #viewButton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover, 
#downloadManager.inSidebar #clearListButton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #dmtTopToolBar button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#UpdateScan-window.inSidebar button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#UpdateScan-window.inSidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker:not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar .toolbox-top toolbarbutton#all-toggle:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#JSConsoleWindow.inSidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#Console2Window.inSidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#stylish-manage-standalone.inSidebar button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#stylish-manage-standalone.inSidebar menulist:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #mbrInspectorMain > menu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #tbInspectorPrimary toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #bxPanelSet toolbarbutton:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.omnisidebarURIBarMenu button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#addons-page.inSidebar .header-button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#addons-page.inSidebar .addon-control:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
#sbSimilarWebSidebar.inSidebar #btnShare:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #btnAddSite:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover:after,
.inSidebar #hideTabbarCheck:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #ybsidebar-tags-sort-menu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #ybsidebar-bookmarks-sort-menu:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #bookmarks-dustbox:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #RIL_sort:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover,
.inSidebar #RIL_listPage:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	background-color: hsla(190,60%,70%,.5) !important;
	border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 1.5px rgba(255,255,255,.1) inset, 0 0 3.5px hsl(190,90%,80%) !important;
	-moz-transition: background-color .4s ease-in, border-color .3s ease-in, box-shadow .3s ease-in !important;
}


.sidebar-title[TitleButton]:hover:not([checked="true"]):not([disabled="true"]),
.sidebar-title[TitleButton][active]:not([checked="true"]):not([disabled="true"]):hover {
	background-color: hsla(190,60%,70%,.5) !important;
	border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 1.5px rgba(255,255,255,.1) inset, 0 0 3.5px hsl(190,90%,80%) !important;
	-moz-transition: background-color .4s ease-in, border-color .05s ease-in, box-shadow .3s ease-in !important;
}

#history-panel.inSidebar #viewButton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#downloadManager.inSidebar #clearListButton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #dmtTopToolBar button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#UpdateScan-window.inSidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#UpdateScan-window.inSidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button) > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar .toolbox-top toolbarbutton#all-toggle > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#JSConsoleWindow.inSidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#Console2Window.inSidebar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#stylish-manage-standalone.inSidebar button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#stylish-manage-standalone.inSidebar menulist > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #mbrInspectorMain > menu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #tbInspectorPrimary toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #bxPanelSet toolbarbutton > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.omnisidebarURIBarMenu button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.sidebar-title[TitleButton]:hover > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.sidebar-title[TitleButton][active] > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#addons-page.inSidebar .header-button > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#addons-page.inSidebar .addon-control > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.inSidebar #btnShare > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #hideTabbarCheck > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #ybsidebar-tags-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #ybsidebar-bookmarks-sort-menu > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #bookmarks-dustbox > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #RIL_sort > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.inSidebar #RIL_listPage > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,

#history-panel.inSidebar #viewButton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]), 
#downloadManager.inSidebar #clearListButton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #dmtTopToolBar button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.inSidebar button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#UpdateScan-window.inSidebar toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar .toolbox-top toolbarbutton#all-toggle:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#JSConsoleWindow.inSidebar toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#Console2Window.inSidebar toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.inSidebar button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#stylish-manage-standalone.inSidebar menulist:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #mbrInspectorMain > menu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #tbInspectorPrimary toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #bxPanelSet toolbarbutton:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.omnisidebarURIBarMenu button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.sidebar-title[TitleButton]:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.sidebar-title[TitleButton][active]:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.inSidebar .header-button:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#addons-page.inSidebar .addon-control:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
#sbSimilarWebSidebar.inSidebar #btnShare:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #hideTabbarCheck:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #ybsidebar-tags-sort-menu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #ybsidebar-bookmarks-sort-menu:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #bookmarks-dustbox:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #RIL_sort:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.inSidebar #RIL_listPage:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),

#history-panel.inSidebar #viewButton[open="true"] > .toolbarbutton-menubutton-dropmarker, 
#downloadManager.inSidebar #clearListButton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #dmtTopToolBar button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#UpdateScan-window.inSidebar button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#UpdateScan-window.inSidebar toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar .toolbox-top toolbarbutton#all-toggle[open="true"] > .toolbarbutton-menubutton-dropmarker,
#JSConsoleWindow.inSidebar toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
#Console2Window.inSidebar toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
#stylish-manage-standalone.inSidebar button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#stylish-manage-standalone.inSidebar menulist[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #mbrInspectorMain > menu[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #tbInspectorPrimary toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #bxPanelSet toolbarbutton[open="true"] > .toolbarbutton-menubutton-dropmarker,
.omnisidebarURIBarMenu button[open="true"] > .toolbarbutton-menubutton-dropmarker,
.sidebar-title[TitleButton]:hover[open="true"] > .toolbarbutton-menubutton-dropmarker,
.sidebar-title[TitleButton][active][open="true"] > .toolbarbutton-menubutton-dropmarker,
#addons-page.inSidebar .header-button[open="true"] > .toolbarbutton-menubutton-dropmarker,
#addons-page.inSidebar .addon-control[open="true"] > .toolbarbutton-menubutton-dropmarker,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu[open="true"] > .toolbarbutton-menubutton-dropmarker,
#sbSimilarWebSidebar.inSidebar #btnShare[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #hideTabbarCheck[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #ybsidebar-tags-sort-menu[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #ybsidebar-bookmarks-sort-menu[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #bookmarks-dustbox[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #RIL_sort[open="true"] > .toolbarbutton-menubutton-dropmarker,
.inSidebar #RIL_listPage[open="true"] > .toolbarbutton-menubutton-dropmarker,

#history-panel.inSidebar #viewButton:not([type="menu-button"]):not([disabled="true"]):hover:active, 
#downloadManager.inSidebar #clearListButton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #dmtTopToolBar button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#UpdateScan-window.inSidebar button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#UpdateScan-window.inSidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar .toolbox-top toolbarbutton#all-toggle:not([type="menu-button"]):not([disabled="true"]):hover:active,
#JSConsoleWindow.inSidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
#Console2Window.inSidebar toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
#stylish-manage-standalone.inSidebar button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#stylish-manage-standalone.inSidebar menulist:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #mbrInspectorMain > menu:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #tbInspectorPrimary toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #bxPanelSet toolbarbutton:not([type="menu-button"]):not([disabled="true"]):hover:active,
.omnisidebarURIBarMenu button:not([type="menu-button"]):not([disabled="true"]):hover:active,
.sidebar-title[TitleButton]:hover:not([type="menu-button"]):not([disabled="true"]):active,
.sidebar-title[TitleButton][active]:not([type="menu-button"]):not([disabled="true"]):hover:active,
#addons-page.inSidebar .header-button:not([type="menu-button"]):not([disabled="true"]):hover:active,
#addons-page.inSidebar .addon-control:not([type="menu-button"]):not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu:not([type="menu-button"]):not([disabled="true"]):hover:active,
#sbSimilarWebSidebar.inSidebar #btnShare:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #btnAddSite:not([type="menu-button"]):not([disabled="true"]):hover:active:after,
.inSidebar #hideTabbarCheck:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #ybsidebar-tags-sort-menu:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #ybsidebar-bookmarks-sort-menu:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #bookmarks-dustbox:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #RIL_sort:not([type="menu-button"]):not([disabled="true"]):hover:active,
.inSidebar #RIL_listPage:not([type="menu-button"]):not([disabled="true"]):hover:active,

#history-panel.inSidebar #viewButton:not([type="menu-button"])[checked="true"], 
#downloadManager.inSidebar #clearListButton:not([type="menu-button"])[checked="true"],
.inSidebar #dmtTopToolBar button:not([type="menu-button"])[checked="true"],
#UpdateScan-window.inSidebar button:not([type="menu-button"])[checked="true"],
#UpdateScan-window.inSidebar toolbarbutton:not([type="menu-button"])[checked="true"],
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button):not([type="menu-button"])[checked="true"],
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton:not([type="menu-button"])[checked="true"],
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker:not([type="menu-button"])[checked="true"],
.inSidebar .toolbox-top toolbarbutton#all-toggle:not([type="menu-button"])[checked="true"],
#JSConsoleWindow.inSidebar toolbarbutton:not([type="menu-button"])[checked="true"],
#Console2Window.inSidebar toolbarbutton:not([type="menu-button"])[checked="true"],
#stylish-manage-standalone.inSidebar button:not([type="menu-button"])[checked="true"],
#stylish-manage-standalone.inSidebar menulist:not([type="menu-button"])[checked="true"],
.inSidebar #mbrInspectorMain > menu:not([type="menu-button"])[checked="true"],
.inSidebar #tbInspectorPrimary toolbarbutton:not([type="menu-button"])[checked="true"],
.inSidebar #bxPanelSet toolbarbutton:not([type="menu-button"])[checked="true"],
.omnisidebarURIBarMenu button:not([type="menu-button"])[checked="true"],
.sidebar-title[TitleButton]:hover:not([type="menu-button"])[checked="true"],
.sidebar-title[TitleButton][active]:not([type="menu-button"])[checked="true"],
#addons-page.inSidebar .header-button:not([type="menu-button"])[checked="true"],
#addons-page.inSidebar .addon-control:not([type="menu-button"])[checked="true"],
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu:not([type="menu-button"])[checked="true"],
#sbSimilarWebSidebar.inSidebar #btnShare:not([type="menu-button"])[checked="true"],
.inSidebar #btnAddSite:not([type="menu-button"])[checked="true"]:after,
.inSidebar #hideTabbarCheck:not([type="menu-button"])[checked="true"],
.inSidebar #ybsidebar-tags-sort-menu:not([type="menu-button"])[checked="true"],
.inSidebar #ybsidebar-bookmarks-sort-menu:not([type="menu-button"])[checked="true"],
.inSidebar #bookmarks-dustbox:not([type="menu-button"])[checked="true"],
.inSidebar #RIL_sort:not([type="menu-button"])[checked="true"],
.inSidebar #RIL_listPage:not([type="menu-button"])[checked="true"],

#history-panel.inSidebar #viewButton[open="true"], 
#downloadManager.inSidebar #clearListButton[open="true"],
.inSidebar #dmtTopToolBar button[open="true"],
#UpdateScan-window.inSidebar button[open="true"],
#UpdateScan-window.inSidebar toolbarbutton[open="true"],
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[open="true"],
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton[open="true"],
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker[open="true"],
.inSidebar .toolbox-top toolbarbutton#all-toggle[open="true"],
#JSConsoleWindow.inSidebar toolbarbutton[open="true"],
#Console2Window.inSidebar toolbarbutton[open="true"],
#stylish-manage-standalone.inSidebar button[open="true"],
#stylish-manage-standalone.inSidebar menulist[open="true"],
.inSidebar #mbrInspectorMain > menu[open="true"],
.inSidebar #tbInspectorPrimary toolbarbutton[open="true"],
.inSidebar #bxPanelSet toolbarbutton[open="true"],
.omnisidebarURIBarMenu button[open="true"],
.sidebar-title[TitleButton]:hover[open="true"],
.sidebar-title[TitleButton][active][open="true"],
#addons-page.inSidebar .header-button[open="true"],
#addons-page.inSidebar .addon-control[open="true"],
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu[open="true"],
#sbSimilarWebSidebar.inSidebar #btnShare[open="true"],
.inSidebar #btnAddSite[open="true"]:after,
.inSidebar #hideTabbarCheck[open="true"],
.inSidebar #ybsidebar-tags-sort-menu[open="true"],
.inSidebar #ybsidebar-bookmarks-sort-menu[open="true"],
.inSidebar #bookmarks-dustbox[open="true"],
.inSidebar #RIL_sort[open="true"],
.inSidebar #RIL_listPage[open="true"] {
	background-color: transparent !important;
	border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5) !important;
	box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 0 0 2px rgba(0,0,0,.4) inset,  0 1px 0 rgba(200,200,200,.4) !important;
	text-shadow: none !important;
}

#history-panel.inSidebar #viewButton[checked="true"]:not(:active):hover, 
#downloadManager.inSidebar #clearListButton[checked="true"]:not(:active):hover,
.inSidebar #dmtTopToolBar button[checked="true"]:not(:active):hover,
#UpdateScan-window.inSidebar button[checked="true"]:not(:active):hover,
#UpdateScan-window.inSidebar toolbarbutton[checked="true"]:not(:active):hover,
.inSidebar .toolbox-top #nav-bar > toolbarbutton:not(#reload-button)[checked="true"]:not(:active):hover,
.inSidebar .toolbox-top #nav-bar #reload-button toolbarbutton[checked="true"]:not(:active):hover,
.inSidebar .toolbox-top #nav-bar #reload-button dropmarker[checked="true"]:not(:active):hover,
.inSidebar .toolbox-top toolbarbutton#all-toggle[checked="true"]:not(:active):hover,
#JSConsoleWindow.inSidebar toolbarbutton[checked="true"]:not(:active):hover,
#Console2Window.inSidebar toolbarbutton[checked="true"]:not(:active):hover,
#stylish-manage-standalone.inSidebar button[checked="true"]:not(:active):hover,
#stylish-manage-standalone.inSidebar menulist[checked="true"]:not(:active):hover,
.inSidebar #mbrInspectorMain > menu[checked="true"]:not(:active):hover,
.inSidebar #tbInspectorPrimary toolbarbutton[checked="true"]:not(:active):hover,
.inSidebar #bxPanelSet toolbarbutton[checked="true"]:not(:active):hover,
.omnisidebarURIBarMenu button[checked="true"]:not(:active):hover,
.sidebar-title[TitleButton]:hover[checked="true"]:not(:active),
.sidebar-title[TitleButton][active][checked="true"]:not(:active):hover,
#addons-page.inSidebar .header-button[checked="true"]:not(:active):hover,
#addons-page.inSidebar .addon-control[checked="true"]:not(:active):hover,
#sbSimilarWebSidebar.inSidebar #btnOptionsMenu[checked="true"]:not(:active):hover,
#sbSimilarWebSidebar.inSidebar #btnShare[checked="true"]:not(:active):hover,
.inSidebar #btnAddSite[checked="true"]:not(:active):hover:after,
.inSidebar #hideTabbarCheck[checked="true"]:not(:active):hover,
.inSidebar #ybsidebar-tags-sort-menu[checked="true"]:not(:active):hover,
.inSidebar #ybsidebar-bookmarks-sort-menu[checked="true"]:not(:active):hover,
.inSidebar #bookmarks-dustbox[checked="true"]:not(:active):hover,
.inSidebar #RIL_sort[checked="true"]:not(:active):hover,
.inSidebar #RIL_listPage[checked="true"]:not(:active):hover {
	background-color: rgba(90%,90%,90%,.4) !important;
	-moz-transition: background-color .4s !important;
}

.inSidebar .toolbox-top #nav-bar > toolbarbutton#reload-button,
.inSidebar .toolbox-top #nav-bar > toolbarbutton#reload-button:hover,
.inSidebar .toolbox-top #nav-bar > toolbarbutton#reload-button:active,
.inSidebar .toolbox-top #nav-bar > toolbarbutton#reload-button[checked="true"] {
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
	-moz-appearance: none !important;
	background: none !important;
	box-shadow: none !important;
}
.inSidebar .toolbox-top #nav-bar > toolbarbutton#reload-button toolbarbutton {
	border-radius: 3.5px 0 0 3.5px !important;
	margin-right: 0 !important;
}
.inSidebar .toolbox-top #nav-bar > toolbarbutton#reload-button dropmarker {
	border-radius: 0 3.5px 3.5px 0 !important;
	margin-left: -1px !important;
}