@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul"), url("chrome://global/content/customizeToolbar.xul") {

	/* Windows Icon Set */
	
	/* Set default FF4 icons */
	window:not([omnisidebar_Australis]) #omnisidebar-addons_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(24px 96px 48px 72px) !important; /* default is color */
	}
	window:not([omnisidebar_Australis]) #stylish_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(0px 120px 24px 96px) !important;
	}
	
	window:not([omnisidebar_Australis]) #omnisidebar-console_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(24px 24px 48px 0px) !important; /* default is color */
	}
	window:not([omnisidebar_Australis]) #omnisidebar-dominspector_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(24px 48px 48px 24px) !important; /* default is color */
	}
	window:not([omnisidebar_Australis]) #omnisidebar-scratchpad_sidebar_button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(24px 96px 48px 72px) !important; /* default is color */
	}
	window:not([omnisidebar_Australis]) .uri-sidebar-button {
		list-style-image: url("chrome://omnisidebar-os/skin/devButtons.png") !important;
		-moz-image-region: rect(0px 72px 24px 48px) !important;
	}
	
	/* FF4 icons */
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="ff"] #tools-updatescan-button:not([status="CHANGE"]):not([status="CHANGE_DISABLED"]):not([status="NO_CHANGE_DISABLED"]) {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(0px 144px 24px 120px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="ff"] #feedbar-button:not([new="true"]) {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(0px 168px 24px 144px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="ff"] #omnisidebar-addons_sidebar_button {
		-moz-image-region: rect(0px 96px 24px 72px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="ff"] #omnisidebar-console_sidebar_button {
		-moz-image-region: rect(0px 24px 24px 0px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="ff"] #omnisidebar-dominspector_sidebar_button {
		-moz-image-region: rect(0px 48px 24px 24px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="ff"] #omnisidebar-scratchpad_sidebar_button {
		-moz-image-region: rect(0px 96px 24px 72px) !important;
	}
	
	/* Color icons */
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="color"] #bookmarks-button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(24px 24px 48px 0px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="color"] #history-button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(24px 48px 48px 24px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="color"] #downloads-button {
		list-style-image: url("chrome://omnisidebar-os/skin/buttons.png") !important;
		-moz-image-region: rect(24px 72px 48px 48px) !important;
	}
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="color"] #stylish_sidebar_button {
		-moz-image-region: rect(24px 120px 48px 96px) !important;
	}
	
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar[coloricons="color"] .uri-sidebar-button {
		-moz-image-region: rect(24px 72px 48px 48px) !important;
	}
	
	/* For both FF4 and Color */
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar:not([coloricons="default"]) #feedbar-button[new="true"]:active,
	window:not([omnisidebar_Australis]) .omnisidebar-toolbar:not([coloricons="default"]) #feedbar-button[new="true"][checked="true"] {
		-moz-image-region: rect(72px, 24px, 96px, 0px) !important;
	}

}
