@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Bugfix: windows theme replaces sidebar header look when using lwthemes */
	.sidebar-box[renderabove]:not([glassStyle]) .sidebar-header:-moz-lwtheme {
		background-color: -moz-Dialog !important;
		-moz-appearance: toolbox !important;
		border-top-style: solid !important;
		border-bottom-style: solid !important;
		color: -moz-dialogtext;
		text-shadow: none;
	}
	@media not all and (-moz-windows-classic) {
		@media	(-moz-windows-default-theme) {
			.sidebar-box[renderabove]:not([glassStyle]) .sidebar-header:-moz-lwtheme {
				-moz-appearance: none !important;
				background-color: #EEF3FA !important;
				border-bottom: none !important;
			}
		}
	}
	
	@media	(-moz-os-version: windows-xp) {
		.sidebar-title[TitleButton]:hover,
		.sidebar-title[TitleButton][active] {
			padding-top: 2px !important;
		}
	}
	
	/* I'm not sure if this one is correct here, I'm just copying from firefox source */
	@media (-moz-windows-theme: luna-silver) {
		#omnisidebar-button:not([movetoright]),
		#omnisidebar-button-twin[movetoleft] {
			list-style-image: url("chrome://omnisidebar-os/skin/osb-button-toolbar-left-lunaSilver.png");
		}
		
		#omnisidebar-button[movetoright],
		#omnisidebar-button-twin:not([movetoleft]) {
			list-style-image: url("chrome://omnisidebar-os/skin/osb-button-toolbar-right-lunaSilver.png");
		}
		
		.osb-custom-button,
		.omnisidebar-toolbar[coloricons="ff"] #tools-updatescan-button[status="NO_CHANGE"],
		.omnisidebar-toolbar[coloricons="ff"] #feedbar-button:not([new="true"]) {
			list-style-image: url("chrome://omnisidebar-os/skin/custom-buttons-toolbar-lunaSilver.png");
		}
	}
	
	#nav-bar-customization-target > .adequate-size > .toolbarbutton-icon { padding: 2px 6px !important; }
	
	/* fix the look of the arrowscrollbuttons a little */
	#omnisidebar-panelView-toolbarContainer autorepeatbutton {
		padding: 0 2px 5px 2px !important;
	}

}

@-moz-document
	url("chrome://browser/content/places/places.xul"),
	url("about:addons"),
	url("chrome://console2/content/console2.xul"),
	url("chrome://browser/content/devtools/webconsole.xul") {
	
	.inSidebar #placesToolbar {
		border-top: none !important;
		border-bottom: 1px solid ThreeDShadow !important;
	}
	
	@media	(-moz-windows-default-theme) {
		#addons-page.inSidebar:not(.glassStyle),
		#places.inSidebar:not(.glassStyle),
		#Console2Window.inSidebar:not(.glassStyle),
		#devtools-webconsole.inSidebar:not(.glassStyle) toolbar.devtools-toolbar {
			background: #EEF3FA !important;
		}
		
		.inSidebar #placesToolbar {
			border-bottom: none !important;
		}
		
		.inSidebar #downloadsRichListBox {
			border: none !important;
			background: none !important;
		}
	}

}
