@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Bugfix: transparent header when undocked using personas,
	I can't override these without the !important tags */
	.sidebar-box[renderabove]:not([glassStyle]) .sidebar-header:-moz-lwtheme {
		-moz-appearance: toolbox !important;
		background-color: -moz-Dialog !important;
		border-bottom: 1px solid ThreeDShadow !important;
		border-top: 1px solid ThreeDHighlight !important;
	}
	
	/* Australis */
	
	/* I'm not sure if this one is correct here, I'm just copying from firefox source */
	@media (-moz-windows-theme: luna-silver) {
		window[omnisidebar_Australis] #omnisidebar-button:not([movetoright]),
		window[omnisidebar_Australis] #omnisidebar-button-twin[movetoleft] {
			list-style-image: url("chrome://omnisidebar-os/skin/osb-button-toolbar-left-lunaSilver.png");
		}
		
		window[omnisidebar_Australis] #omnisidebar-button[movetoright],
		window[omnisidebar_Australis] #omnisidebar-button-twin:not([movetoleft]) {
			list-style-image: url("chrome://omnisidebar-os/skin/osb-button-toolbar-right-lunaSilver.png");
		}
		
		window[omnisidebar_Australis] .osb-custom-button,
		window[omnisidebar_Australis] .omnisidebar-toolbar[coloricons="ff"] #tools-updatescan-button[status="NO_CHANGE"],
		window[omnisidebar_Australis] .omnisidebar-toolbar[coloricons="ff"] #feedbar-button:not([new="true"]) {
			list-style-image: url("chrome://omnisidebar-os/skin/custom-buttons-toolbar-lunaSilver.png");
		}
	}
	
	window[omnisidebar_Australis] #nav-bar .adequate-size > .toolbarbutton-icon { padding: 2px 6px !important; }

}
